{% comment %} Turn section to block; receive block as block, trust_is_nested, text_align, block__text_first {% endcomment %}
{%- liquid 
    assign custom_width = block.settings.custom_width
    assign mg_bottom = block.settings.mg_bottom | append: 'px'
    assign margin_top_image_trust = block.settings.margin_top_image_trust | append: 'px' 
    assign image_trust = block.settings.image_trust 
    assign image_trust_align = block.settings.image_trust_align
-%}
{%- unless trust_is_nested -%}
    <div class="footer-block__item footer-block__column footer-block__{{ block.type }} text-{{ text_align }} {{ block__text_first }}" style="--block-custom-width: {% if custom_width != blank %}{{ custom_width }}%{% else %}100%{% endif %}; --block-margin-bottom: {{ mg_bottom }};">
{%- endunless -%}     
{%- if image_trust != blank -%}
    <div class="footer__security-trust text-{{ image_trust_align }}" style="--margin-top-image-trust: {{ margin_top_image_trust}};--margin-top-image-trust-mb: {% if block.settings.margin_top_image_trust >= 25 %}15px{% else %}{{ margin_top_image_trust}}{% endif %};">               
        <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ image_trust | img_url: 'master' }}" alt="{{ image_trust.alt | default: 'Security trust' }}" {% unless settings.enable_lazyload %}src="{{ image_trust | img_url: 'master' }}"{% endunless %} {% if settings.enable_lazyload %}class="lazyload"{% endif %}
        style="{% if image_trust_align == 'left' %}margin-left: 0; margin-right: auto;{% elsif image_trust_align == 'right' %}margin-left: auto; margin-right: 0; {% endif %} "/>
        {%- if settings.enable_lazyload -%}<span class="data-lazy-loading"></span>{%- endif -%}
    </div>
{%- endif -%}
{%- unless trust_is_nested -%}
</div>
{%- endunless -%}