{% liquid
  assign payment_margin_top = block.settings.payment_margin_top | append: 'px'
  assign heading_payment = block.settings.heading_payment
  assign payment_type = block.settings.payment_type
  assign show_payment = block.settings.show_payment
%}
<div class="footer-block__list-payment footer__column-item footer__payment" style="--margin-top: {{ payment_margin_top  }}">
  {%- if heading_payment != blank -%}
    <h2 class="footer-block__heading">{{- heading_payment | escape -}}</h2>
  {%- endif -%} <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
  <ul class="list list-payment clearfix" role="list">
    {%- if payment_type == 'default' -%}
      {%- for type in shop.enabled_payment_types -%}
        <li class="list-payment__item">{{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}</li>
      {%- endfor -%}
    {%- else -%}
      {% assign payment_string = 'visa,master,maestro,american_express,apple_pay,bitcoin,dankort,diners_club,discover,paypal,dogecoin,dwolla,forbrugsforeningen,jcb,litecoin,afterpay,google_pay,ideal,klarna,klarna-pay-later,shopify_pay,sofort' %}
      {%- assign methods = payment_string | split: ',' -%}
      {%- for method in methods -%}
        {%- assign show_current_method = method | prepend: 'show_payment_' -%}
        {%- if block.settings[show_current_method] -%}
          <li class="list-payment__item {{method}}">{{ method | payment_type_svg_tag: class: 'icon icon--full-color' }}</li>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  </ul>
</div>
