<div class="halo-language">
  <link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="all" onload="this.media='all'">
  <noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>
  {%- if settings.enable_multilang_shopify and localization.available_languages.size > 1 -%}
  <noscript>
      {%- form 'localization', id: 'HeaderLanguageFormNoScript', class: 'localization-form' -%}
      <div class="localization-form__select">
          <h2 class="visually-hidden" id="HeaderLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
          <select class="localization-selector link" name="locale_code" aria-labelledby="HeaderLanguageLabelNoScript">
              {%- for language in localization.available_languages -%}
              <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code==localization.language.iso_code %} selected{% endif %}>
                  {{ language.endonym_name | capitalize }}
              </option>
              {%- endfor -%}
          </select>
      </div>
      <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
      {%- endform -%}
  </noscript>
  <localization-form>
      {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
      <div class="no-js-hidden">
          <div class="disclosure">
              <p class="title text-left" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</p>
              <ul id="HeaderLanguageList" role="list" class="disclosure__list list-unstyled custom-scrollbar d-flex flex-align-center flex-wrap">
                  {%- for language in localization.available_languages -%}
                    {% assign logo = '' %}
                    {%- for i in (1..6) -%}
                      {% capture lang_unit %}lange_{{ i }}{% endcapture %}
                      {% capture i-lang_unit %}i-lang-{{ i }}{% endcapture %}
                      {% assign currency_length = settings[i-lang_unit] | size %}
                        {% if settings[lang_unit] == language.iso_code %}
                          {% assign logo = settings[i-lang_unit] %}
                        {% endif %}
                    {%- endfor -%}
                    <li class="disclosure__item" tabindex="-1"><a role="button" class="link link--text disclosure__link d-flex flex-align-center{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}" {% if language.iso_code==localization.language.iso_code %} aria-current="true" {% endif %} data-value="{{ language.iso_code }}"><span class="icon">{{ logo }}</span><span class="text">{{ language.iso_code }}</span></a></li>
                  {%- endfor -%}
              </ul>
          </div>
          <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
      </div>
      {%- endform -%}
  </localization-form>
  {%- endif -%}

  <script src="{{ 'halo-languages.js' | asset_url }}" defer="defer"></script>
</div>