<noscript>{{ 'component-compare-color.css' | asset_url | stylesheet_tag }}</noscript>

<compare-color class="halo-popup halo-compare-color-popup customPopup-large" data-compare-color-popup id="halo-compare-color-popup" data-url-style-compare-color="{{ 'component-compare-color.css' | asset_url }}" data-url-script-compare-color="{% if show_compare_color_drop_drap %}https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js{% endif %}">
    <div class="halo-popup-wrapper">
        <div class="halo-popup-header">
            <button type="button" class="halo-popup-close clearfix" data-close-compare-color-popup aria-label="{{ 'general.common.close' | t }}">
                {% render 'icon-close' %}
                {{ 'general.common.close' | t }}
            </button>
            <h5 class="halo-popup-title text-center">
                {{ 'compare_color.general.title' | t }}
            </h5>
        </div>
        <div class="halo-popup-content halo-popup-scroll custom-scrollbar">
            <div class="halo-compareColors">
                <div class="halo-compareColors-swatch halo-productOptions">
                    {%- liquid
                        assign variantCount = product.variants | size
                        assign swatch_type = settings.swatch_type
                        assign colorList = ''
                        assign color = ''
                    -%}
                    {%- if variantCount > 1 and product.variants.first.title != 'Default Title' -%}
                        <ul class="compareColors-list list-unstyled text-left">
                            {%- for variant in product.variants -%}
                                {% capture color %}
                                    {{ variant.options[index] }}
                                {% endcapture %}
                                {%- unless colorList contains color -%}
                                    {%- liquid
                                        assign text = color | handleize
                                        assign enable_variant_image = false
                                        case swatch_type
                                            when 'variant_image'
                                                assign background_image = variant.image.src | product_img_url: '40x'
                                                if variant.image
                                                    assign enable_variant_image = true
                                                endif
                                            when 'color'
                                                assign background_image = color | handle | append: '.png' | file_url
                                                assign enable_variant_image = true
                                            when 'metafields'
                                                assign variant_color = variant.metafields.custom.variant_color
                                                assign color_codes = false

                                                if variant_color
                                                    assign enable_variant_image = true
                                                
                                                    if variant_color contains '#' or variant_color contains 'rgb' or variant_color contains 'hsl'
                                                        assign color_codes = true
                                                        assign background_color = variant_color
                                                    else
                                                        assign background_image = variant_color | append: '.png' | file_url
                                                    endif
                                                elsif variant.image
                                                    assign enable_variant_image = true
                                                    assign background_image = variant.image.src | product_img_url: '40x'
                                                endif
                                        endcase
                                    -%}
                                    <li class="item">
                                        <input class="swatch-compare-color-option" type="checkbox" name="swatch-compare-color-{{ text }}" value="{{ text }}" id="swatch-compare-color-{{ text }}">
                                        <label
                                            class="swatch-compare-color-label"
                                            title="{{ color | strip }}"
                                            {% if variant.image != null %} 
                                                data-variant-img="{{ variant.image.src | img_url: '200x' }}"
                                            {% else %}
                                                data-variant-img="{{ product.featured_image.src | img_url: '200x' }}"
                                            {% endif %}
                                            for="swatch-compare-color-{{ text }}"
                                        >
                                            <span
                                                class="pattern"
                                                style="background-color: {{ color | split: ' ' | last | handle }};{% if enable_variant_image %}{% if swatch_type == 'metafields' %}{% if color_codes %} background: {{ background_color }}{% else %} background: url({{ background_image }}); background-size: cover;{% endif %}{% else %} background-image: url({{ background_image }});{% endif %}{% endif %}"
                                            ></span>
                                        </label>
                                        <span class="tooltip">
                                            {{ text }}
                                        </span>
                                    </li>
                                    {% capture tempList %}
                                        {{ colorList | append: color | append: ' ' }}
                                    {% endcapture %}
                                    {% assign colorList = tempList %}
                                {%- endunless -%}
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}
                </div>
                <div class="halo-compareColors-image custom-scrollbar-x text-left clearfix" {% if show_compare_color_drop_drap %} id="sortTableList"{% endif %}></div>
                <div class="halo-compareColors-text text-center">
                    {{ 'compare_color.general.text' | t }}
                </div>
            </div>
        </div>
    </div>
</compare-color>

<script src="{{ 'halo-compare-color.js' | asset_url }}" defer="defer"></script>