<div class="halo-compareProduct-content">
	<div class="halo-compareProduct-table custom-scrollbar-x">
		<table class="compareTable">
			<thead>
				<tr class="compareTable-row">
					<th class="compareTable-heading"><span class="compareTable-headingText">{{ 'compare.general.product' | t }}</span></th>
					<th class="compareTable-heading"><span class="compareTable-headingText">{{ 'compare.general.sku' | t }}</span></th>
					{%- if settings.show_review -%}
						<th class="compareTable-heading"><span class="compareTable-headingText">{{ 'compare.general.review' | t }}</span></th>
					{%- endif -%}
					<th class="compareTable-heading"><span class="compareTable-headingText">{{ 'compare.general.description' | t }}</span></th>
					<th class="compareTable-heading"><span class="compareTable-headingText">{{ 'compare.general.collection' | t }}</span></th>
					<th class="compareTable-heading"><span class="compareTable-headingText">{{ 'compare.general.availability' | t }}</span></th>
					<th class="compareTable-heading"><span class="compareTable-headingText">{{ 'compare.general.product_type' | t }}</span></th>
					<th class="compareTable-heading"><span class="compareTable-headingText">{{ 'compare.general.other_details' | t }}</span></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>