{%- liquid
	assign current_variant = product_card_product.selected_or_first_available_variant
	assign variantCount = product_card_product.variants | size
    assign product_swatch_option = settings.swatch | downcase
    assign isColor = false
    assign variant_img = ''
    assign media_size = settings.product_block_image_ratio
    for option in product_card_product.options_with_values
        assign option_name = option.name | downcase
        if product_swatch_option contains option_name
            assign isColor = true
            assign index = forloop.index0
            assign position = forloop.index | minus: 1
            assign variant_selected = option.selected_value
            for variant in product_card_product.variants limit: 1
                if variant.image != null  
                    assign variant_img = variant.image
                endif
            endfor
          break
        else 
            assign position = 0
            assign variant_selected = nil
        endif
    endfor
-%}
<tr class="compareTable-row" data-product-compare-id="{{ product_card_product.id }}" data-compare-product-handle="{{ product_card_product.handle }}">
	<td class="compareTable-product">
		<div class="product-item clearfix">
			<div class="card">
				<div class="card-product{% if product_card_product.featured_media == nil %} card--text-only card--soft{% endif %}">
					<div class="card-product__wrapper">
	                    {%- if settings.show_badge -%}
		                    {% render 'product-badge',
		                        product: product_card_product,
		                        class: 'card__badge',
		                        badge_detail: true,
		                        serial: serial
		                    %}
		                {%- endif -%}
		                {%- liquid
		                    assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio

		                    if product_card_product.featured_media.aspect_ratio == nil
		                        assign featured_media_aspect_ratio = 1
		                    endif
		                -%}
		                <a class="card-media card-media--{{ media_size }}{% if settings.show_image_swap %} media--hover-effect{% endif%}"
		                    href="{{ product_card_product.url | within: collection }}"
		                    {% if product_card_product.featured_media %}
		                        {% if media_size == 'adapt' %}
		                            style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
		                        {% elsif media_size == 'square' %}
		                            style="padding-bottom: 100%;"
		                        {% elsif media_size == 'portrait' %}
		                            {% if portrait_aspect_ratio != blank %}
		                                style="padding-bottom: {{ portrait_aspect_ratio | append: '%' }};"
		                            {% endif %}
		                        {% endif %}
		                    {% endif %}
		                >
		                	{%- if product_card_product.featured_media -%}
		                        {%- if variant_img != blank -%}
		                            <img srcset="
		                                {%- if variant_img.width >= 165 -%}
		                                    {{ variant_img | img_url: '165x' }} 165w,
		                                {%- endif -%}
		                                {%- if variant_img.width >= 360 -%}
		                                    {{ variant_img | img_url: '360x' }} 360w,
		                                {%- endif -%}
		                                {%- if variant_img.width >= 533 -%}
		                                    {{ variant_img | img_url: '533x' }} 533w,
		                                {%- endif -%}
		                                {%- if variant_img.width >= 720 -%}
		                                    {{ variant_img | img_url: '720x' }} 720w,
		                                {%- endif -%}
		                                {%- if variant_img.width >= 940 -%}
		                                    {{ variant_img | img_url: '940x' }} 940w,
		                                {%- endif -%}
		                                {%- if variant_img.width >= 1066 -%}
		                                    {{ variant_img | img_url: '1066x' }} 1066w
		                                {%- endif -%}"
		                                src="{{ variant_img | img_url: '533x' }}"
		                                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
		                                alt="{{ variant_img.alt | escape }}"
		                                loading="lazy"
		                                class="motion-reduce"
		                            >
		                        {%- else -%}
		                            <img srcset="
		                                {%- if product_card_product.featured_media.width >= 165 -%}
		                                    {{ product_card_product.featured_media | img_url: '165x' }} 165w,
		                                {%- endif -%}
		                                {%- if product_card_product.featured_media.width >= 360 -%}
		                                    {{ product_card_product.featured_media | img_url: '360x' }} 360w,
		                                {%- endif -%}
		                                {%- if product_card_product.featured_media.width >= 533 -%}
		                                    {{ product_card_product.featured_media | img_url: '533x' }} 533w,
		                                {%- endif -%}
		                                {%- if product_card_product.featured_media.width >= 720 -%}
		                                    {{ product_card_product.featured_media | img_url: '720x' }} 720w,
		                                {%- endif -%}
		                                {%- if product_card_product.featured_media.width >= 940 -%}
		                                    {{ product_card_product.featured_media | img_url: '940x' }} 940w,
		                                {%- endif -%}
		                                {%- if product_card_product.featured_media.width >= 1066 -%}
		                                    {{ product_card_product.featured_media | img_url: '1066x' }} 1066w
		                                {%- endif -%}"
		                                src="{{ product_card_product.featured_media | img_url: '533x' }}"
		                                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
		                                alt="{{ product_card_product.featured_media.alt | escape }}"
		                                loading="lazy"
		                                class="motion-reduce"
		                            >
		                        {%- endif -%}
		                        {%- if product_card_product.media[1] != nil and settings.show_image_swap -%}
		                            <img srcset="
		                                {%- if product_card_product.media[1].width >= 165 -%}
		                                    {{ product_card_product.media[1] | img_url: '165x' }} 165w,
		                                {%- endif -%}
		                                {%- if product_card_product.media[1].width >= 360 -%}
		                                    {{ product_card_product.media[1] | img_url: '360x' }} 360w,
		                                {%- endif -%}
		                                {%- if product_card_product.media[1].width >= 533 -%}
		                                    {{ product_card_product.media[1] | img_url: '533x' }} 533w,
		                                {%- endif -%}
		                                {%- if product_card_product.media[1].width >= 720 -%}
		                                    {{ product_card_product.media[1] | img_url: '720x' }} 720w,
		                                {%- endif -%}
		                                {%- if product_card_product.media[1].width >= 940 -%}
		                                    {{ product_card_product.media[1] | img_url: '940x' }} 940w,
		                                {%- endif -%}
		                                {%- if product_card_product.media[1].width >= 1066 -%}
		                                    {{ product_card_product.media[1] | img_url: '1066x' }} 1066w
		                                {%- endif -%}"
		                                src="{{ product_card_product.media[1] | img_url: '533x' }}"
		                                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
		                                alt="{{ product_card_product.media[1].alt | escape }}"
		                                loading="lazy"
		                                class="motion-reduce"
		                            >
		                        {%- endif -%}
		                    {%- else -%}
		                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
		                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
		                    {%- endif -%}
		                </a>
		            </div>
					<a class="compareTable-removeProduct" data-compare-remove href="javascript:void(0)" data-compare-item="{{ product_card_product.id }}">
		                {% render 'icon-close' %}
		            </a>
				</div>
				<div class="card-information">
					<div class="card-information__wrapper text-{{ settings.product_content_text_align }}">
	                    <div class="card-information__group card-information__group-2">
	                        {% if settings.show_vendor %}
	                            <div class="card-vendor">
	                                <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
	                                {{ product_card_product.vendor | link_to_vendor }}
	                            </div>
	                        {% endif %}
	                    </div>
		                <a class="card-title link-underline{% if settings.product_title_line_text != 'full' %} card-title-ellipsis{% endif %}{% if variant_selected != blank %} card-title-change{% endif %}" href="{{ product_card_product.url | within: collection }}" data-product-title="{{ product_card_product.title | escape }}" data-product-url="{{ product_card_product.url | within: collection }}">
		                    <span class="text">
		                        {{ product_card_product.title | escape }}
		                        {% if variant_selected != blank %}
		                            <span data-change-title> - {{ variant_selected }}</span>
		                        {% endif %}
		                    </span>
		                </a>
		                <div class="card-price">
	                        {% render 'price',
	                            product: product_card_product,
	                            price_class: ''
	                        %}
	                    </div>
					</div>
				</div>
			</div>
		</div>
	</td>
	<td class="compareTable-item">
		{{ current_variant.sku }}
	</td>
	{%- if settings.show_review -%}
		<td class="compareTable-item halo-productReview">
			<span class="shopify-product-reviews-badge" data-id="{{ product_card_product.id }}"></span>
		</td>
	{%- endif -%}
	<td class="compareTable-item compareTable-desc">
		{%- liquid
			assign desc = product_card_product.description
			assign word_number = 30
		-%}
		{% if product_card_product.metafields.c_f.short_description %}
			{%- liquid
				assign desc = product_card_product.metafields.c_f.short_description
				assign word_number = 100000
			-%}
        {% else %}
            {% assign word_number = 30 %}
        {% endif %}
        {%- if desc != blank -%}
            <div class="halo-text-format">
                {{ desc | truncatewords: word_number }}
            </div>
        {%- endif -%}
	</td>
	<td class="compareTable-item">
		{%- for collection in product_card_product.collections -%}
		 	<span class="compareTable-collection">{{ collection.title }}{% unless forloop.last %},{% endunless %}</span>
		{%- endfor -%}
	</td>
	<td class="compareTable-item">
		{% if current_variant.inventory_management %}
            {%- assign first_inventory = current_variant.inventory_quantity -%}

            {%- if first_inventory > 0 -%}
                {{ 'products.product.in_stock' | t }}
            {%- else -%}
                {{ 'products.product.out_of_stock' | t }}
            {%- endif -%}
        {% else %}
            {{ 'products.product.many_in_stock' | t }}
        {% endif %}
	</td>
	<td class="compareTable-item">
		{{ product_card_product.type | escape }}
	</td>
	<td class="compareTable-item">
		{%- if variantCount > 1  and product_card_product.variants[0].title != 'Default Title'  -%}
			{%- for option in product_card_product.options_with_values -%}
				<div class="compareTable-option">
				    <div class="compareTable-optionLabel">
				    	{{ option.name }}:
				    </div>
				    <div class="compareTable-optionValue">
				    	{%- for value in option.values -%}
					        <span class="text">{{ value }}{% unless forloop.last %},{% endunless %}</span>
					    {%- endfor -%}
				    </div>
				</div>
			{%- endfor -%}
		{%- endif -%}
	</td>
</tr>