
<div class="product-item">
    <div class="card">
        <div class="card-product{% if item.image == nil %} card--text-only card--soft{% endif %}">
            <div class="card-product__wrapper">
                {%- liquid
                    assign featured_media_aspect_ratio = item.image.aspect_ratio

                    if item.image.aspect_ratio == nil
                        assign featured_media_aspect_ratio = 1
                    endif
                -%}
                <a class="card-media{% if item.image and item.object_type == 'article' %} card-media--{{ media_size }}{% endif %}" href="{{ item.url }}"
                    {%- if item.object_type == 'article' -%}
                        {% if item.image %}
                            {% if media_size == 'adapt' %}
                                style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
                            {% elsif media_size == 'square' %}
                                style="padding-bottom: 100%;"
                            {% elsif media_size == 'portrait' %}
                                {% if portrait_aspect_ratio != blank %}
                                    style="padding-bottom: {{ portrait_aspect_ratio | append: '%' }};"
                                {% endif %}
                            {% endif %}
                        {% else %}
                            style="padding-bottom: 100%;"
                        {% endif %}
                    {%- endif -%}
                >
                    {%- if item.image -%}
                        <img srcset="
                            {%- if product_card_product.featured_media.width >= 165 -%}
                                {{ product_card_product.featured_media | img_url: '165x' }} 165w,
                            {%- endif -%}
                            {%- if product_card_product.featured_media.width >= 360 -%}
                                {{ product_card_product.featured_media | img_url: '360x' }} 360w,
                            {%- endif -%}
                            {%- if product_card_product.featured_media.width >= 533 -%}
                                {{ product_card_product.featured_media | img_url: '533x' }} 533w,
                            {%- endif -%}
                            {%- if product_card_product.featured_media.width >= 720 -%}
                                {{ product_card_product.featured_media | img_url: '720x' }} 720w,
                            {%- endif -%}
                            {%- if product_card_product.featured_media.width >= 940 -%}
                                {{ product_card_product.featured_media | img_url: '940x' }} 940w,
                            {%- endif -%}
                            {%- if product_card_product.featured_media.width >= 1066 -%}
                                {{ product_card_product.featured_media | img_url: '1066x' }} 1066w
                            {%- endif -%}"
                            src="{{ item.image | img_url: '533x' }}"
                            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                            alt="{{ item.image.alt | escape }}"
                            class="lazyload"
                        >
                    {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                </a>
            </div>
        </div>
        <div class="card-information">
            <div class="card-information__wrapper text-{{ settings.product_content_text_align }}">
                <h3 class="card__heading"><a class="card-title link-underline{% if settings.product_title_line_text != 'full' %} card-title-ellipsis{% endif %}" href="{{ item.url }}">{{ item.title | escape }}</a></h3>
            </div>
        </div>
    </div>
</div>