{{ 'component-toolbar.css' | asset_url | stylesheet_tag }}
<toolbar-item class="toolbar" data-toolbar data-id="{{ section.id }}">
    {%- if has_sidebar -%}
        <div class="toolbar-wrapper toolbar-mobile{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
            <div class="toolbar-item toolbar-sidebar" data-sidebar>
                <span class="toolbar-icon icon-filter">{% render 'icon-sidebar' %} <span class='filter-text text'>{{ 'sections.collection_template.filter_button' | t }}</span></span>
            </div>
        </div>
    {%- endif -%}
    <div class="toolbar-wrapper{% unless has_sidebar %} toolbar-wrapper--flex{% endunless %}{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
        <div class="results-count"><span class="results" style="display: none;"><span class="count">{{ collection.products_count }}</span> {{ 'sections.collection_template.results' | t }}</span></div>
        {%- if show_view_as -%}
            <div class="toolbar-col toolbar-colLeft">
                <label class="toolbar-label">{{ 'sections.collection_template.view_as' | t }}</label>
                <div class="toolbar-item toolbar-viewAs clearfix" data-view-as>
                    <span class="toolbar-icon icon-mode icon-mode-list{% if layout == '1' %} active{% endif %}" data-col="1" role="button" aria-label="List" tabindex="0"></span>
                    <span class="toolbar-icon icon-mode icon-mode-grid grid-2{% if layout == '2' %} active{% endif %}" data-col="2" role="button" aria-label="Grid 2" tabindex="0"></span>
                    <span class="toolbar-icon icon-mode icon-mode-grid grid-3{% if layout == '3' %} active{% endif %}" data-col="3" role="button" aria-label="Grid 3" tabindex="0"></span>
                    <span class="toolbar-icon icon-mode icon-mode-grid grid-4{% if layout == '4' %} active{% endif %}" data-col="4" role="button" aria-label="Grid 4" tabindex="0"></span>
                    <span class="toolbar-icon icon-mode icon-mode-grid grid-5{% if layout == '5' %} active{% endif %}" data-col="5" role="button" aria-label="Grid 5" tabindex="0"></span>
                </div>
            </div>
        {%- endif -%}
        {%- if show_sorting or show_item_per_page -%}
            <div class="toolbar-col toolbar-colRight">
                {%- if show_item_per_page -%}
                    <div class="toolbar-item toolbar-limitView clearfix" data-limited-view>
                        <label class="toolbar-label">{{ 'sections.collection_template.item_per_page' | t }}</label>
                        <div class="toolbar-dropdown limited-view hidden-on-mobile">
                            <div class="label-tab" data-toggle="dropdown" aria-expanded="false" role="button" tabindex="0">
                                <span class="label-text" name="paginateBy">
                                    {%- if cart.attributes.pagination != blank and cart.attributes.pagination -%}
                                        {{ cart.attributes.pagination }}
                                    {%- else -%}
                                        {{ products_per_page }}
                                    {%- endif -%}
                                </span>
                                <span class="halo-icon-dropdown icon-dropdown" role="none"></span>
                            </div>
                            <ul class="dropdown-menu list-unstyled hidden-on-mobile">
                                <li data-limited-view-item{% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '10' %} class="is-active"{% endif %}{% else %}{% if products_per_page == '10' %} class="is-active"{% endif %}{% endif %}><span class="text" data-value="10">10</span></li>
                                <li data-limited-view-item{% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '15'%} class="is-active"{% endif %}{% else %}{% if products_per_page == '15' %} class="is-active"{% endif %}{% endif %}><span class="text" data-value="15">15</span></li>
                                <li data-limited-view-item{% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '20'%} class="is-active"{% endif %}{% else %}{% if products_per_page == '20' %} class="is-active"{% endif %}{% endif %}><span class="text" data-value="20">20</span></li>
                                <li data-limited-view-item{% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '25'%} class="is-active"{% endif %}{% else %}{% if products_per_page == '25' %} class="is-active"{% endif %}{% endif %}><span class="text" data-value="25">25</span></li>
                                <li data-limited-view-item{% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '30'%} class="is-active"{% endif %}{% else %}{% if products_per_page == '30' %} class="is-active"{% endif %}{% endif %}><span class="text" data-value="30">30</span></li>
                                <li data-limited-view-item{% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '50'%} class="is-active"{% endif %}{% else %}{% if products_per_page == '50' %} class="is-active"{% endif %}{% endif %}><span class="text" data-value="50">50</span></li>
                            </ul>
                        </div>
                    </div>
                {%- endif -%}
                {%- if show_sorting -%}
                    <div class="toolbar-item toolbar-sort clearfix" data-sorting>
                        <label class="toolbar-label" data-ur>{{ 'sections.collection_template.sort_by_label' | t }}</label>
                        <div class="toolbar-dropdown filter-sortby">
                            <div class="label-tab hidden-on-mobile" data-toggle="dropdown" aria-expanded="false" role="button" tabindex="0">
                                {%- for option in sort_options -%}
                                    {%- if option.value == sort_by -%}
                                        <span class="label-text">{{ option.name | escape }}</span>
                                    {%- endif -%}
                                {%- endfor -%}
                                <span class="halo-icon-dropdown icon-dropdown" role="none"></span>
                            </div>
                            <ul class="dropdown-menu list-unstyled hidden-on-mobile">
                                {%- for option in sort_options -%}
                                    <li{% if option.value == sort_by %} class="is-active"{% endif %} data-sort-by-item>
                                        {%- assign value = option.value | handleize -%}
                                        <span class="text" data-href="{{ value }}" data-value="{{ value }}">{{ option.name | escape }}</span>
                                    </li>
                                {%- endfor -%}
                            </ul>
                            <div class="label-tab hidden-on-desktop" data-mobile="mobile" data-toggle="dropdown">
                                <span class="label-text">{{ 'sections.collection_template.sort_button' | t }}</span>
                                <span class="halo-icon-dropdown icon-dropdown" role="none"></span>
                            </div>
                            
                        </div>
                    </div>
                {%- endif -%}
            </div>
        {%- endif -%}
    </div>
    <div class="toolbar-wrapper toolbar-mobile{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
        {%- if show_view_as -%}
            <div class="toolbar-item toolbar-viewAs clearfix" data-view-as-mobile>
                <span class="toolbar-icon icon-mode icon-mode-list{% if layout == '1' %} active{% endif %}" data-col="1" role="button" aria-label="List" tabindex="0"></span>
                <span class="toolbar-icon icon-mode icon-mode-grid grid-2{% if layout == '2' %} active{% endif %}" data-col="2" role="button" aria-label="Grid 2" tabindex="0"></span>
                <span class="toolbar-icon icon-mode icon-mode-grid grid-3{% if layout == '3' %} active{% endif %}" data-col="3" role="button" aria-label="Grid 3" tabindex="0"></span>
                <span class="toolbar-icon icon-mode icon-mode-grid grid-4{% if layout == '4' %} active{% endif %}" data-col="4" role="button" aria-label="Grid 4" tabindex="0"></span>
                <span class="toolbar-icon icon-mode icon-mode-grid grid-5{% if layout == '5' %} active{% endif %}" data-col="5" role="button" aria-label="Grid 5" tabindex="0"></span>
            </div>
        {%- endif -%}
    </div>

    <div class="dropdown-menu hidden-on-desktop" data-sorting data-mobile="mobile">
        <div class="dropdown-menu-header">
            <h2 class="dropdown-menu-title"><span class="text">{{ 'sections.collection_template.sort_by_label' | t }}:</span></h2>
            <div class="icon-wrapper">{% render 'icon-close-thin', class: 'close-mobile-modal' %}</div>
        </div>
        <ul class="dropdown-menu-body list-unstyled">
            {%- for option in sort_options -%}
                <li {% if option.value == sort_by %}class="is-active"{% endif %} data-sort-by-item>
                    {%- assign value = option.value | handleize -%}
                    <span class="text" data-href="{{ value }}" data-value="{{ value }}">{{ option.name | escape }}</span>
                </li>
            {%- endfor -%}
        </ul>
    </div>
</toolbar-item>
<script src="{{ 'toolbar.js' | asset_url }}" defer="defer"></script>