{%- if request.page_type == 'index' -%}
    <h1 class="hidden">{{ shop.name }}</h1>
    {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": {{ shop.name | json }},
            "potentialAction": {
                "@type": "SearchAction",
                "target": {{ potential_action_target | json }},
                "query-input": "required name=search_term_string"
            },
            "url": {{ request.origin | append: page.url | json }}
        }
    </script>
{%- endif -%}

{%- if template.suffix == 'ajax_mega_menu' -%}
    {% section 'header-navigation-plain' %}
{%- endif -%}

{%- if settings.mobile_menu != 'default' -%}
	{% section 'halo-navigation-mobile' %}
	{% section 'halo-navigation-mobile-2' %}
	{% section 'halo-navigation-mobile-3' %}
{%- endif -%}

{%- unless settings.enable_currencies -%}
    <script src='//cdn.shopify.com/s/javascripts/currencies.js' defer="defer"></script>
    {%- if settings.currency_format_enable -%}
        <script src="{{ 'jquery.currencies-format.min.js' | asset_url }}" defer="defer"></script>
    {%- else -%}
        <script src="{{ 'jquery.currencies.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script type="text/javascript">let shopCurrency="{{ shop.currency }}"</script>
{%- endunless -%}
