{% layout none %}
<!doctype html>
{%- liquid
    if settings.list_iso_rtl != blank
        assign locale_iso_code = request.locale.iso_code
        assign arr_list_rtl = settings.list_iso_rtl | remove:' ' | split:',' 
        if arr_list_rtl contains locale_iso_code
            assign enable_iso_rtl = true
        else
            assign enable_iso_rtl = false
        endif
    endif
-%}
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
        {%- unless settings.type_header_font.system? -%}
            <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
        {%- endunless -%}
        <title>{{ shop.name }}</title>
        <meta name="description" content="{{ page_description | escape }}">
        {% render 'meta-tags' %}
        {{ content_for_header }}


        {% render 'variable' %}
        {{ 'base.css' | asset_url | stylesheet_tag }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" defer></script>
        {% render 'global-script' %}

        {%- if settings.enable_layout_rtl -%}
            {{ 'layout_rtl.css' | asset_url | stylesheet_tag }}
        {%- endif -%}
    </head>

    <body class="password-template{% if settings.enable_layout_rtl and enable_iso_rtl %} layout_rtl{% endif %}">
        {{content_for_layout}}
    </body>

</html>
