<link rel="stylesheet" href="{{ 'component-counter-positions-image-banner.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-counter-positions-image-banner.css' | asset_url | stylesheet_tag }}</noscript>
{%- liquid 
    assign mg_top_desktop = section.settings.mg_top_desktop | append: 'px' 
    assign mg_top_tablet = section.settings.mg_top_tablet | append: 'px' 
    assign mg_top_mobile = section.settings.mg_top_mobile | append: 'px' 

    assign mg_bottom_desktop = section.settings.mg_bottom_desktop | append: 'px' 
    assign mg_bottom_tablet = section.settings.mg_bottom_tablet | append: 'px' 
    assign mg_bottom_mobile = section.settings.mg_bottom_mobile | append: 'px' 
    assign container = section.settings.container
    assign padding_full_width = section.settings.padding_full_width | append: 'px' 

    assign image_1 = section.settings.image_1 
    assign image_text_1 = section.settings.image_text_1 
    assign image_text_1_font_size = section.settings.image_text_1_font_size | append: 'px' 
    assign image_text_1_font_size_mb = section.settings.image_text_1_font_size_mb | append: 'px' 
    assign image_text_1_font_weight = section.settings.image_text_1_font_weight
    assign image_text_1_color = section.settings.image_text_1_color

    assign content_title_1 = section.settings.content_title_1 
    assign content_title_1_color = section.settings.content_title_1_color 
    assign content_title_1_letter_spacing = section.settings.content_title_1_letter_spacing 
    assign content_title_1_line_height = section.settings.content_title_1_line_height | append: 'px' 
    assign content_title_1_font_size = section.settings.content_title_1_font_size | append: 'px'
    assign content_title_1_font_size_mb = section.settings.content_title_1_font_size_mb | append: 'px' 
    assign content_title_1_margin_bottom = section.settings.content_title_1_margin_bottom | append: 'px' 
    assign content_title_1_margin_top = section.settings.content_title_1_margin_top | append: 'px' 
    assign content_title_1_font_weight = section.settings.content_title_1_font_weight 

    assign des_1 = section.settings.des_1 
    assign des_1_font_size = section.settings.des_1_font_size | append: 'px' 
    assign des_1_font_size_mb = section.settings.des_1_font_size_mb | append: 'px' 
    assign des_1_font_weight = section.settings.des_1_font_weight 
    assign des_1_margin_bottom = section.settings.des_1_margin_bottom | append: 'px' 
    assign des_1_color = section.settings.des_1_color 
    assign des_1_content_width = section.settings.des_1_content_width | append: 'px' 

    assign button_1_text = section.settings.button_1_text 
    assign enable_button_1_text_underline = section.settings.enable_button_1_text_underline 
    assign button_1_link = section.settings.button_1_link 
    assign button_1_font_size = section.settings.button_1_font_size | append: 'px' 
    assign button_1_width = section.settings.button_1_width | append: 'px' 
    assign button_1_text_color = section.settings.button_1_text_color 
    assign button_1_border_color = section.settings.button_1_border_color
    assign button_1_background_color = section.settings.button_1_background_color
    assign button_1_gradient_color = section.settings.button_1_gradient_color
    assign button_1_text_color_hover = section.settings.button_1_text_color_hover
    assign button_1_border_color_hover = section.settings.button_1_border_color_hover
    assign button_1_background_color_hover = section.settings.button_1_background_color_hover
    assign button_1_gradient_color_hover = section.settings.button_1_gradient_color_hover
    assign button_1_text_transform = section.settings.button_1_text_transform
    assign button_1_font_weight = section.settings.button_1_font_weight

    assign image_2 = section.settings.image_2 
    assign image_text_2 = section.settings.image_text_2 
    assign image_text_2_font_size = section.settings.image_text_2_font_size | append: 'px' 
    assign image_text_2_font_size_mb = section.settings.image_text_2_font_size_mb | append: 'px' 
    assign image_text_2_font_weight = section.settings.image_text_2_font_weight
    assign image_text_2_color = section.settings.image_text_2_color

    assign content_title_2 = section.settings.content_title_2 
    assign content_title_2_color = section.settings.content_title_2_color 
    assign content_title_2_letter_spacing = section.settings.content_title_2_letter_spacing 
    assign content_title_2_line_height = section.settings.content_title_2_line_height | append: 'px' 
    assign content_title_2_font_size = section.settings.content_title_2_font_size | append: 'px' 
    assign content_title_2_font_size_mb = section.settings.content_title_2_font_size_mb | append: 'px' 
    assign content_title_2_margin_bottom = section.settings.content_title_2_margin_bottom | append: 'px' 
    assign content_title_2_margin_top = section.settings.content_title_2_margin_top | append: 'px' 
    assign content_title_2_font_weight = section.settings.content_title_2_font_weight 

    assign des_2 = section.settings.des_2 
    assign des_2_font_size = section.settings.des_2_font_size | append: 'px' 
    assign des_2_font_size_mb = section.settings.des_2_font_size_mb | append: 'px' 
    assign des_2_font_weight = section.settings.des_2_font_weight 
    assign des_2_margin_bottom = section.settings.des_2_margin_bottom | append: 'px'
    assign des_2_color = section.settings.des_2_color 
    assign des_2_content_width = section.settings.des_2_content_width | append: 'px' 

    assign button_2_text = section.settings.button_2_text 
    assign enable_button_2_text_underline = section.settings.enable_button_2_text_underline 
    assign button_2_link = section.settings.button_2_link 
    assign button_2_font_size = section.settings.button_2_font_size | append: 'px' 
    assign button_2_width = section.settings.button_2_width | append: 'px' 
    assign button_2_text_color = section.settings.button_2_text_color 
    assign button_2_border_color = section.settings.button_2_border_color
    assign button_2_background_color = section.settings.button_2_background_color
    assign button_2_gradient_color = section.settings.button_2_gradient_color
    assign button_2_text_color_hover = section.settings.button_2_text_color_hover
    assign button_2_border_color_hover = section.settings.button_2_border_color_hover
    assign button_2_background_color_hover = section.settings.button_2_background_color_hover
    assign button_2_gradient_color_hover = section.settings.button_2_gradient_color_hover
    assign button_2_text_transform = section.settings.button_2_text_transform
    assign button_2_font_weight = section.settings.button_2_font_weight
    assign button_2_margin_bottom = section.settings.button_2_margin_bottom | append: 'px'

    assign block_2_padding_right = section.settings.block_2_padding_right | append: 'px'
-%}
<div class="counter-positions-image-banner section-block-{{section.id}}{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}" id="counter-positions-image-banner-{{section.id}}">
  <div class="{% if container == 'fullwidth' %}container-full{% elsif container == '1170' %}container-1170{% elsif container == '1770' %}container-1770{% else %}container{% endif %}">
    <div class="counter-positions-image-banner-wrapper">
        <div class="content-block content-block-left">
            <image-to-flip class="section-block-banner-image{% if section.settings.image_behavior == 'ambient' %} ambient{% endif %}{% if section.settings.image_behavior == 'zoom-in' %} zoom--in{% endif %}">
                <div class="img-box{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if section.settings.image_behavior == 'ambient' %} o-hidden{% endif %}">
                    {%- if image_1 != blank -%}
                        <a title="{{ image_1.alt | default: shop.name | escape }}" {% if button_1_link != blank %}href="{{ button_1_link }}"{% else %}role="link" aria-disabled="true"{% endif %} class="image adaptive_height image-zoom" style="padding-top: {% unless image_1.presentation.focal_point == '50.0% 50.0%' %}{{ 1 | divided_by: image_1.aspect_ratio | times: 120 }}%;{% else %}{{ 1 | divided_by: image_1.aspect_ratio | times: 100 }}%;{% endunless %} --image-width: {{ image_1_width }}"><img {% render 'lazyload',preview_img: image_1 %}{% unless image_1.presentation.focal_point == '50.0% 50.0%' %} style="object-position: {{ image_1.presentation.focal_point }}"{% endunless %} />    
                            {%- if settings.enable_lazyload -%}<span class="data-lazy-loading"></span>{%- endif -%}
                        </a>    
                    {%- else -%}
                        <a {% if button_1_link != blank %}href="{{ button_1_link }}"{% else %}role="link" aria-disabled="true"{% endif %} class="image-zoom"><div class="not_img" style="--height_not_img: 1070px;">865px x 1070px</div></a>
                    {%- endif -%}
                </div>   
                {%- if image_text_1 != blank -%}
                    <h2 class="title image-title" style="--image-title-font-size: {{ image_text_1_font_size }};--image-title-font-size-mb: {{ image_text_1_font_size_mb }};--image-title-font-weight: {{ image_text_1_font_weight }};--image-title-color: {% if image_text_1_color != blank %}{{ image_text_1_color }}{% endif %}">{{ image_text_1 }}</h2>
                {%- endif -%}
            </image-to-flip>
            {%- if content_title_1 != blank or des_1 != blank or button_1_text != blank -%}
                <div class="block-content{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}" style="--block-content-width: {{ des_1_content_width }}">
                    {%- if content_title_1 != blank -%}
                        <h2 class="block-title text-center" style="--title-color: {% if content_title_1_color != blank and content_title_1_color != 'rgba(0,0,0,0)' %}{{ content_title_1_color }}{% endif %};--title-letter-spacing: {{ content_title_1_letter_spacing }};--title-line-height: {{ content_title_1_line_height }};--title-font-size: {{ content_title_1_font_size }};--title-font-size-mb: {{ content_title_1_font_size_mb }};--title-margin-bottom: {{ content_title_1_margin_bottom }};--title-margin-top: {{ content_title_1_margin_top }};--title-font-weight: {{ content_title_1_font_weight }}">{{ content_title_1 }}</h2>
                    {%- endif -%}
                    {%- if des_1 != blank -%}
                        <div class="block-description text-center" style="--description-color: {% if des_1_color != blank and des_1_color != 'rgba(0,0,0,0)' %}{{ des_1_color }}{% endif %};--description-font-size: {{ des_1_font_size }};--description-font-size-mb: {{ des_1_font_size_mb }};--description-margin-bottom: {{ des_1_margin_bottom }};--description-font-weight: {{ des_1_font_weight }}">{{ des_1 }}</div>
                    {%- endif -%}
                    {%- if button_1_text != blank -%}
                        <{% if button_1_link != blank %}a href="{{ button_1_link }}"{% else %}button type="button"{% endif %} class="button primary-button block-button{% if enable_button_1_text_underline %} is-underlined{% endif %}" style="--button-font-size: {{ button_1_font_size }};--button-width: {{ button_1_width }};--button-text-transform: {{ button_1_text_transform }};--button-font-weight: {{ button_1_font_weight }};--button-text-color: {% if button_1_text_color != blank %}{{ button_1_text_color }}{% endif %};--button-border-color: {% if button_1_border_color != blank %}{{ button_1_border_color }}{% endif %};--button-background: {% if button_1_gradient_color != blank %}{{ button_1_gradient_color }}{% elsif button_1_background_color != blank %}{{ button_1_background_color }}{% endif %};--button-text-color-hover: {% if button_1_text_color_hover != blank %}{{ button_1_text_color_hover }}{% endif %};--button-border-color-hover: {% if button_1_border_color_hover != blank %}{{ button_1_border_color_hover }}{% endif %};--button-background-hover: {% if button_1_gradient_color_hover != blank %}{{ button_1_gradient_color_hover }}{% elsif button_1_background_color_hover != blank %}{{ button_1_background_color_hover }}{% endif %}"><span class="text">{{ button_1_text }}</span></{% if button_1_link != blank%}a{% else %}button{% endif %}>
                    {%- endif -%}
                </div>
            {%- endif -%}
        </div>
        <div class="content-block content-block-right" style="--padding-right: {{ block_2_padding_right }}">
            {%- if content_title_2 != blank or des_2 != blank or button_2_text != blank -%}
                <div class="block-content{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}" style="--block-content-width: {{ des_2_content_width }}">
                    {%- if content_title_2 != blank -%}
                        <h2 class="block-title text-center" style="--title-color: {% if content_title_2_color != blank and content_title_2_color != 'rgba(0,0,0,0)' %}{{ content_title_2_color }}{% endif %};--title-letter-spacing: {{ content_title_2_letter_spacing }};--title-line-height: {{ content_title_2_line_height }};--title-font-size: {{ content_title_2_font_size }};--title-font-size-mb: {{ content_title_2_font_size_mb }};--title-margin-bottom: {{ content_title_2_margin_bottom }};--title-margin-top: {{ content_title_2_margin_top }};--title-font-weight: {{ content_title_2_font_weight }}">{{ content_title_2 }}</h2>   
                    {%- endif -%}
                    {%- if des_2 != blank -%}
                        <div class="block-description text-center" style="--description-color: {% if des_2_color != blank and des_2_color != 'rgba(0,0,0,0)' %}{{ des_2_color }}{% endif %};--description-font-size: {{ des_2_font_size }};--description-font-size-mb: {{ des_2_font_size_mb }};--description-margin-bottom: {{ des_2_margin_bottom }};--description-font-weight: {{ des_2_font_weight }}">{{ des_2 }}</div>
                    {%- endif -%}
                    {%- if button_2_text != blank -%}
                        <{% if button_2_link != blank %}a href="{{ button_2_link }}"{% else %}button type="button"{% endif %} class="button primary-button block-button{% if enable_button_2_text_underline %} is-underlined{% endif %}" style="--button-font-size: {{ button_2_font_size }};--button-width: {{ button_2_width }};--button-text-transform: {{ button_2_text_transform }};--button-font-weight: {{ button_2_font_weight }};--button-text-color: {% if button_2_text_color != blank %}{{ button_2_text_color }}{% endif %};--button-border-color: {% if button_2_border_color != blank %}{{ button_2_border_color }}{% endif %};--button-background: {% if button_2_gradient_color != blank %}{{ button_2_gradient_color }}{% elsif button_2_background_color != blank %}{{ button_2_background_color }}{% endif %};--button-text-color-hover: {% if button_2_text_color_hover != blank %}{{ button_2_text_color_hover }}{% endif %};--button-border-color-hover: {% if button_2_border_color_hover != blank %}{{ button_2_border_color_hover }}{% endif %};--button-background-hover: {% if button_2_gradient_color_hover != blank %}{{ button_2_gradient_color_hover }}{% elsif button_2_background_color_hover != blank %}{{ button_2_background_color_hover }}{% endif %}; --button-margin-bottom: {{ button_2_margin_bottom }}"><span class="text">{{ button_2_text }}</span></{% if button_2_link != blank%}a{% else %}button{% endif %}>
                    {%- endif -%}
                </div>
            {%- endif -%}
            <image-to-flip class="section-block-banner-image{% if section.settings.image_behavior == 'ambient' %} ambient{% endif %}{% if section.settings.image_behavior == 'zoom-in' %} zoom--in{% endif %}">
                <div class="img-box{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if section.settings.image_behavior == 'ambient' %} o-hidden{% endif %}">
                    {%- if image_2 != blank -%}
                        <a title="{{ image_2.alt | default: shop.name | escape }}" {% if button_2_link != blank %}href="{{ button_2_link }}"{% else %}role="link" aria-disabled="true"{% endif %} class="image image-zoom adaptive_height" style="padding-top: {% unless image_2.presentation.focal_point == '50.0% 50.0%' %}{{ 1 | divided_by: image_2.aspect_ratio | times: 120 }}%;{% else %}{{ 1 | divided_by: image_2.aspect_ratio | times: 100 }}%;{% endunless %} --image-width: {{ image_2_width }}"><img {% render 'lazyload',preview_img: image_2 %}{% unless image_2.presentation.focal_point == '50.0% 50.0%' %} style="object-position: {{ image_2.presentation.focal_point }}"{% endunless %} />
                            {%- if settings.enable_lazyload -%}<span class="data-lazy-loading"></span>{%- endif -%}
                        </a>
                    {%- else -%}
                        <a {% if button_2_link != blank %}href="{{ button_2_link }}"{% else %}role="link" aria-disabled="true"{% endif %} class="image-zoom"><div class="not_img" style="--height_not_img: 1070px;">865px x 1070px</div></a>
                    {%- endif -%}
                </div>   
                {%- if image_text_2 != blank -%}
                    <h2 class="title image-title" style="--image-title-font-size: {{ image_text_2_font_size }};--image-title-font-size-mb: {{ image_text_2_font_size_mb }};--image-title-font-weight: {{ image_text_2_font_weight }};--image-title-color: {% if image_text_2_color != blank %}{{ image_text_2_color }}{% endif %}">{{ image_text_2 }}</h2>
                {%- endif -%}
            </image-to-flip>
        </div>
    </div>
  </div>
</div> 
<style>
    @media (min-width: 1200px) {.section-block-{{section.id}} {padding-top: {{ mg_top_desktop }};padding-bottom: {{ mg_bottom_desktop }}}}
    {%- if section.settings.container == 'fullwidth' -%}
        @media (min-width: 1025px) {.section-block-{{section.id}} .container-full {padding-left: {{ padding_full_width }};padding-right: {{ padding_full_width }}}}
    {%- endif -%}
    @media (min-width: 768px) and (max-width: 1199px) {.section-block-{{ section.id }} {padding-top: {{ mg_top_tablet }};padding-bottom: {{ mg_bottom_tablet }}}}
    @media (max-width: 767px) {.section-block-{{ section.id }} {padding-top: {{ mg_top_mobile }};padding-bottom: {{ mg_bottom_mobile }}}}
</style>
{% schema %}
{
    "name": "t:sections.counter_positions_image_banner.name",
    "settings": [
    {
        "type": "header",
        "content": "t:settings_schema.general.name"
    },
    { 
        "type": "select",
        "id": "container",
        "label": "t:sections.layout.container.option",
        "default": "container",
        "options": [
            {
                "value": "container",
                "label": "t:sections.layout.container.option1"
            },
            {
                "value": "1170",
                "label": "t:sections.layout.container.option4"
            },
            {
                "value": "1770",
                "label": "t:sections.layout.container.option3"
            },
            {
                "value": "fullwidth",
                "label": "t:sections.layout.container.option2"
            }
        ]
    },
    {
        "type": "range",
        "id": "padding_full_width",
        "label": "t:sections.layout.container.padding_full_width",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 0,
        "info": "t:sections.layout.container.info_full_width"
    },
    {
        "type": "header",
        "content": "t:sections.layout.margin_top"
    },
    {
        "type": "range",
        "id": "mg_top_desktop",
        "label": "t:sections.layout.mg_desktop.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "range",
        "id": "mg_top_tablet",
        "label": "t:sections.layout.mg_tablet.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "range",
        "id": "mg_top_mobile",
        "label": "t:sections.layout.mg_mobile.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "header",
        "content": "t:sections.layout.margin_bottom"
    },
    {
        "type": "range",
        "id": "mg_bottom_desktop",
        "label": "t:sections.layout.mg_desktop.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "range",
        "id": "mg_bottom_tablet",
        "label": "t:sections.layout.mg_tablet.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "range",
        "id": "mg_bottom_mobile",
        "label": "t:sections.layout.mg_mobile.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "header",
        "content": "t:sections.counter_positions_image_banner.settings.content__1"
    },
    {
        "type": "image_picker",
        "id": "image_1",
        "label": "t:settings_schema.typography.settings.typography.image_select"
    },
    {
        "type": "text",
        "id": "image_text_1",
        "label": "t:sections.counter_positions_image_banner.settings.image_text.name"
    },
    {
        "type": "range",
        "id": "image_text_1_font_size",
        "label": "t:sections.counter_positions_image_banner.settings.image_text.font_size",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 48,
        "unit": "px"
    },
    {
        "type": "range",
        "id": "image_text_1_font_size_mb",
        "label": "t:sections.counter_positions_image_banner.settings.image_text.font_size_mb",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 28,
        "unit": "px"
    },
    {
        "type": "select",
        "id": "image_text_1_font_weight",
        "label": "t:sections.counter_positions_image_banner.settings.image_text.font_weight",
        "default": "600",
        "options": [
        {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
        },
        {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
        },
        {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
        },
        {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
        },
        {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
        }]
    },
    {
        "type": "color",
        "id": "image_text_1_color",
        "label": "t:sections.counter_positions_image_banner.settings.image_text.color",
        "default": "#fff"
    },
    {   
        "type": "text",
        "id": "content_title_1",
        "label": "t:sections.image-banner.blocks.image.settings.content.label__19",
        "default": "New In"
    },
    {
        "type": "color",
        "id": "content_title_1_color",
        "label": "t:sections.slide-show.blocks.image.slider_content.color_heading",
        "default": "#191919"
    },
    {
        "type": "text",
        "id": "content_title_1_letter_spacing",
        "label": "t:settings_schema.typography.settings.typography.sub_title_letter_spacing",
        "default": "0.02em"
    },
    {
        "type": "range",
        "id": "content_title_1_line_height",
        "label": "t:sections.slide-show.blocks.image.slider_content.line_height_heading",
        "min": 0,
        "max": 50,
        "step": 1,  
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 48
    },
    {
        "type": "range",
        "id": "content_title_1_font_size",
        "label": "t:sections.slide-show.blocks.image.slider_content.font_size_heading",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 36
    },
    {
        "type": "range",
        "id": "content_title_1_font_size_mb",
        "label": "t:sections.rich-text.blocks.heading.settings.heading_size.fz_mb",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 28
    },
    {
        "type": "range",
        "id": "content_title_1_margin_top",
        "label": "t:sections.main-sidebar.blocks.lookbook_banner.settings.general.margin_top_title", 
        "min": 0,   
        "max": 100,
        "step": 1,
        "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
        "default": 100
    },
    {   
        "type": "range",
        "id": "content_title_1_margin_bottom",
        "label": "t:sections.layout.mg_bottom_title.label_mb",
        "min": 0,
        "max": 100, 
        "step": 1,
        "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
        "default": 45
    },
    {
        "type": "select",
        "id": "content_title_1_font_weight",
        "label": "t:settings_schema.typography.settings.typography.sub_title_font_weight",
        "default": "700",
        "options": [
        {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
        },
        {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
        },
        {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
        },
        {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
        },
        {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
        }]
    },
    {
        "type" : "textarea",
        "id" : "des_1",
        "label" : "t:sections.image-banner.blocks.specialImg.settings.label__4",
        "default" : "Limited Time Only. End ins:"
    },
    {
        "type": "range",
        "id": "des_1_font_size",
        "label": "t:settings_schema.typography.settings.font_size.label",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 12
    },
    {
        "type": "range",
        "id": "des_1_font_size_mb",
        "label": "t:settings_schema.typography.settings.font_size.label_mb",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 12
    },
    {
        "type": "select",
        "id": "des_1_font_weight",
        "label": "t:settings_schema.typography.settings.font_weight.label",
        "default": "400",
        "options": [
        {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
        },
        {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
        },
        {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
        },
        {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
        },
        {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
        }]
    },
    {
        "type": "range",
        "id": "des_1_margin_bottom",
        "label": "t:sections.image-banner.blocks.specialImg.settings.mg_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 15
    },
    {
        "type": "color",
        "id": "des_1_color",
        "label": "t:settings_schema.typography.settings.typography.text_color",
        "default": "#ffffff"
    },
    {
        "type": "range",
        "id": "des_1_content_width",
        "label": "t:sections.image-banner.blocks.image.settings.content.label__8",
        "min": 200,
        "max": 1000,
        "step": 10,
        "default": 450,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit"
    },
    {
        "type" : "text",
        "id" : "button_1_text",
        "label" : "t:sections.spotlight_block.blocks.image.button",
        "default" : "Subscribe"
    },
    {
        "type": "checkbox",
        "id": "enable_button_1_text_underline",
        "label": "t:sections.counter_positions_image_banner.settings.button_text_underline",
        "default": true
    },
    {
        "type": "url",
        "id": "button_1_link",
        "label": "t:sections.spotlight_block.blocks.image.link.label"
    },
    {
        "type": "range",
        "id": "button_1_font_size",
        "label": "t:settings_schema.typography.settings.typography.button_font_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 16
    },
    {
        "type": "range",
        "id": "button_1_width",
        "label": "t:settings_schema.typography.settings.typography.button_width",
        "min": 100,
        "max": 600,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 190
    },
    {
        "type" : "color",
        "id" : "button_1_text_color",
        "label": "t:settings_schema.colors.settings.colors_name.color",
        "default" : "#fff"
    },
    {
        "type" : "color",
        "id" : "button_1_border_color",
        "label": "t:settings_schema.colors.settings.colors_name.border_color",
        "default" : "#232323"
    },
    {
        "type" : "color",
        "id" : "button_1_background_color",
        "label": "t:settings_schema.colors.settings.colors_name.background_color",
        "default" : "#232323"
    },
    {
        "type" : "color_background",
        "id" : "button_1_gradient_color",
        "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
    },
    {
        "type" : "color",
        "id" : "button_1_text_color_hover",
        "label": "t:settings_schema.colors.settings.colors_name.color_hover",
        "default" : "#fff"
    },
    {
        "type" : "color",
        "id" : "button_1_border_color_hover",
        "label": "t:settings_schema.colors.settings.colors_name.border_hover",
        "default" : "#232323"
    },
    {
        "type" : "color",
        "id" : "button_1_background_color_hover",
        "label": "t:settings_schema.colors.settings.colors_name.background_hover",
        "default" : "#232323"
    },
    {
        "type" : "color_background",
        "id" : "button_1_gradient_color_hover",
        "label": "t:settings_schema.colors.settings.colors_name.background_hover_gradient"
    },
    {
        "type": "select",
        "id": "button_1_text_transform",
        "label": "t:settings_schema.typography.settings.typography.button_text_transform",
        "default": "capitalize",
        "options": [
        {
            "value": "none",
            "label": "t:settings_schema.typography.settings.text_transform.options__1"
        },
        {
            "value": "capitalize",
            "label": "t:settings_schema.typography.settings.text_transform.options__2"
        },
        {
            "value": "uppercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__3"
        },
        {   
            "value": "lowercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__4"
        }]
    },
    {
        "type": "select",
        "id": "button_1_font_weight",
        "label": "t:settings_schema.typography.settings.typography.sub_title_font_weight",
        "default": "600",
        "options": [
        {   
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
        },
        {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
        },
        {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
        },
        {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
        },
        {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
        }]
    },
    {
        "type": "header",
        "content": "t:sections.counter_positions_image_banner.settings.content__2"
    },
    {
        "type": "image_picker",
        "id": "image_2",
        "label": "t:settings_schema.typography.settings.typography.image_select"
    },
    {
        "type": "text",
        "id": "image_text_2",
        "label": "t:sections.counter_positions_image_banner.settings.image_text.name"
    },
    {
        "type": "range",
        "id": "image_text_2_font_size",
        "label": "t:sections.counter_positions_image_banner.settings.image_text.font_size",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 48,
        "unit": "px"
    },
    {
        "type": "range",
        "id": "image_text_2_font_size_mb",
        "label": "t:sections.counter_positions_image_banner.settings.image_text.font_size_mb",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 28,
        "unit": "px"
    },
    {
        "type": "select",
        "id": "image_text_2_font_weight",
        "label": "t:sections.counter_positions_image_banner.settings.image_text.font_weight",
        "default": "600",
        "options": [
        {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
        },
        {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
        },
        {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
        },
        {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
        }]
    },  
    {
        "type": "color",
        "id": "image_text_2_color",
        "label": "t:sections.counter_positions_image_banner.settings.image_text.color",
        "default": "#fff"
    },  
    {
        "type": "text",
        "id": "content_title_2",
        "label": "t:sections.image-banner.blocks.image.settings.content.label__19",
        "default": "New In"
    },
    {
        "type": "color",
        "id": "content_title_2_color",
        "label": "t:sections.slide-show.blocks.image.slider_content.color_heading",
        "default": "#191919"
    },
    {
        "type": "text",
        "id": "content_title_2_letter_spacing",
        "label": "t:settings_schema.typography.settings.typography.sub_title_letter_spacing",
        "default": "0.02em"
    },
    {
        "type": "range",
        "id": "content_title_2_line_height",
        "label": "t:sections.slide-show.blocks.image.slider_content.line_height_heading",
        "min": 0,
        "max": 50,
        "step": 1,  
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 48
    },
    {
        "type": "range",
        "id": "content_title_2_font_size",
        "label": "t:sections.slide-show.blocks.image.slider_content.font_size_heading",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 36
    },
    {
        "type": "range",
        "id": "content_title_2_font_size_mb",
        "label": "t:sections.rich-text.blocks.heading.settings.heading_size.fz_mb",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 28
    },
    {
        "type": "range",
        "id": "content_title_2_margin_top",
        "label": "t:sections.main-sidebar.blocks.lookbook_banner.settings.general.margin_top_title", 
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
        "default": 45
    },
    {
        "type": "range",
        "id": "content_title_2_margin_bottom",
        "label": "t:sections.layout.mg_bottom_title.label_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
        "default": 45
    },
    {
        "type": "select",
        "id": "content_title_2_font_weight",
        "label": "t:settings_schema.typography.settings.typography.sub_title_font_weight",
        "default": "700",
        "options": [
        {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
        },
        {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
        },
        {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
        },
        {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
        }]
    },
    {
        "type" : "textarea",
        "id" : "des_2",
        "label" : "t:sections.image-banner.blocks.specialImg.settings.label__4",
        "default" : "Limited Time Only. End ins:"
    },
    {
        "type": "range",
        "id": "des_2_font_size",
        "label": "t:settings_schema.typography.settings.font_size.label",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 12
    },
    {
        "type": "range",
        "id": "des_2_font_size_mb",
        "label": "t:settings_schema.typography.settings.font_size.label_mb",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 12
    },
    {
        "type": "select",
        "id": "des_2_font_weight",
        "label": "t:settings_schema.typography.settings.font_weight.label",
        "default": "400",
        "options": [
        {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
        },
        {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
        },
        {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
        },
        {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
        }]
    },
    {
        "type": "range",
        "id": "des_2_margin_bottom",
        "label": "t:sections.image-banner.blocks.specialImg.settings.mg_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 15
    },
    {
        "type": "color",
        "id": "des_2_color",
        "label": "t:settings_schema.typography.settings.typography.text_color",
        "default": "#ffffff"
    },
    {
        "type": "range",
        "id": "des_2_content_width",
        "label": "t:sections.image-banner.blocks.image.settings.content.label__8",
        "min": 200,
        "max": 1000,
        "step": 10,
        "default": 450,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit"
    },
    {
        "type" : "text",
        "id" : "button_2_text",
        "label" : "t:sections.spotlight_block.blocks.image.button",
        "default" : "Subscribe"
    },
    {
        "type": "checkbox",
        "id": "enable_button_2_text_underline",
        "label": "t:sections.counter_positions_image_banner.settings.button_text_underline",
        "default": true
    },
    {
        "type": "url",
        "id": "button_2_link",
        "label": "t:sections.spotlight_block.blocks.image.link.label"
    },
    {
        "type": "range",
        "id": "button_2_font_size",
        "label": "t:settings_schema.typography.settings.typography.button_font_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 16
    },
    {
        "type": "range",
        "id": "button_2_width",
        "label": "t:settings_schema.typography.settings.typography.button_width",
        "min": 100,
        "max": 600,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 190
    },
    {
        "type" : "color",
        "id" : "button_2_text_color",
        "label": "t:settings_schema.colors.settings.colors_name.color",
        "default" : "#fff"
    },
    {
        "type" : "color",
        "id" : "button_2_border_color",
        "label": "t:settings_schema.colors.settings.colors_name.border_color",
        "default" : "#232323"
    },
    {
        "type" : "color",
        "id" : "button_2_background_color",
        "label": "t:settings_schema.colors.settings.colors_name.background_color",
        "default" : "#232323"
    },
    {
        "type" : "color_background",
        "id" : "button_2_gradient_color",
        "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
    },
    {
        "type" : "color",
        "id" : "button_2_text_color_hover",
        "label": "t:settings_schema.colors.settings.colors_name.color_hover",
        "default" : "#fff"
    },
    {
        "type" : "color",
        "id" : "button_2_border_color_hover",
        "label": "t:settings_schema.colors.settings.colors_name.border_hover",
        "default" : "#232323"
    },
    {
        "type" : "color",
        "id" : "button_2_background_color_hover",
        "label": "t:settings_schema.colors.settings.colors_name.background_hover",
        "default" : "#232323"
    },
    {   
        "type" : "color_background",
        "id" : "button_2_gradient_color_hover",
        "label": "t:settings_schema.colors.settings.colors_name.background_hover_gradient"
    },
    {
        "type": "select",
        "id": "button_2_text_transform",
        "label": "t:settings_schema.typography.settings.typography.button_text_transform",
        "default": "capitalize",
        "options": [
        {
            "value": "none",
            "label": "t:settings_schema.typography.settings.text_transform.options__1"
        },
        {
            "value": "capitalize",
            "label": "t:settings_schema.typography.settings.text_transform.options__2"
        },
        {
            "value": "uppercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__3"
        },
        {
            "value": "lowercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__4"
        }]
    },
    {
        "type": "select",
        "id": "button_2_font_weight",
        "label": "t:settings_schema.typography.settings.typography.sub_title_font_weight",
        "default": "600",
        "options": [
        {   
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
        },
        {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
        },
        {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
        },
        {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
        },
        {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
        }]
    },
    {
        "type": "range",
        "id": "button_2_margin_bottom",
        "label": "t:settings_schema.typography.settings.typography.button_margin_bottom",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
    },
    {
        "type": "range",
        "id": "block_2_padding_right",
        "label": "t:sections.counter_positions_image_banner.settings.content_2_padding_right",
        "default": 100,
        "min": 0,
        "max": 150,
        "step": 5, 
        "unit": "px" 
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.general.animation"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.typography.settings.text_transform.options__1"
        },
        {
          "value": "ambient",
          "label": "t:sections.main-product.settings.general.image_behavior.option__1"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.main-product.settings.general.image_behavior.option__3"
        }
      ],
      "default": "none",
      "label": "t:sections.main-product.settings.general.image_behavior.label"
    }],
    "presets": [
    {
        "name": "t:sections.counter_positions_image_banner.name"
    }],
    "disabled_on": {
        "groups": ["header"]
    }
}
{% endschema %}