{{ 'component-header-basic.css' | asset_url | stylesheet_tag }}
<header class="header header-basic{% if section.settings.enable_transparent %} header-basic--transparent{% endif %}" style="--spacing-l-r: {{ section.settings.padding_full_width }}px; --bg-color: {% if section.settings.gradient != blank %}{{ section.settings.gradient }}{% else %}{{ section.settings.background }}{% endif %}; --p-top: {{ section.settings.padding_top }}px; --p-bottom: {{ section.settings.padding_bottom }}px">
    <div class="container container-{{ section.settings.container }}">
        <div class="header-basic__content">
            {%- for block in section.blocks -%}
                <div class="header-basic__item header-basic__item--{{ block.type }}">
                    {%- case block.type -%}
                        {%-  when 'conversion_group' -%}
                            <div class="header-top--left header__language_currency clearfix" style="--la-cu-color: {{ block.settings.language_currency_color }}; --text-color: {{ block.settings.text_color }}">
                                <div class="header-top-right-group header-language_currency">
                                    {%- if block.settings.show_language_currency -%}
                                        <div class="top-language-currency{% if settings.enable_currencies %} enable-currency{% endif %}">
                                            {%- if settings.enable_multilang_shopify -%}
                                                {% render 'halo-top-language' %}
                                            {%- endif -%}
                                            {%- if settings.enable_currencies -%}
                                                {% render 'halo-top-currency' %}
                                            {%- endif -%}
                                        </div>
                                    {%- endif -%}
                                    {%- if block.settings.customer_service_text != blank -%}
                                        <div class="customer-service-text">{{ block.settings.customer_service_text }}</div>
                                    {%- endif -%}
                                </div>
                            </div>
                        {%-  when 'logo' -%}
                            <div class="header-top--center clearfix">
                                <div class="header__logo" style="--logo-width: {% if block.settings.logo == blank %}auto; --logo-svg-width: {% endif %}{{ block.settings.logo_width }}px; --logo-font-size: {{ block.settings.logo_font_size }}px; --logo-font-weight: {{ block.settings.logo_font_weight }}; --logo-color: {{ block.settings.logo_color }}">
                                    <div class="header__heading">
                                        <a href="{{ routes.root_url }}" class="header__heading-link focus-inset">
                                            {%- if block.settings.logo != blank -%}
                                                {%- liquid 
                                                    assign logo = block.settings.logo
                                                    assign logo_width = block.settings.logo_width
                                                    assign logo_height = logo_width | divided_by: logo.aspect_ratio | round
                                                    assign logo_alt = logo.alt | default: shop.name | escape
                                                -%}
                                                {{ logo | image_url: width: 300 | image_tag:
                                                    class: 'header__heading-logo motion-reduce',
                                                    widths: '50, 100, 150, 200, 250, 300, 400, 500',
                                                    height: logo_height,
                                                    width: logo_width,
                                                    alt: logo_alt
                                                }}
                                            {%- else -%}
                                                <span class="h2 {{ block.settings.logo_text_transform }}">{% if block.settings.logo_text != blank %}{{ block.settings.logo_text }}{% else %}{{ shop.name }}{% endif %}</span>
                                            {%- endif -%}
                                        </a>
                                        {%- if block.settings.enable_parallax -%}
                                            <a href="{{ routes.root_url }}" class="header__heading-link focus-inset logo_parallax">
                                                {%- if block.settings.logo_parallax != blank -%}
                                                    {%- assign image_parallax = block.settings.logo_parallax -%}
                                                    {%- assign image_size = block.settings.logo_width | append: 'x' -%}
                                                    <img srcset="{{ image_parallax | img_url: image_size }}" src="{{ image_parallax | img_url: image_size }}" loading="lazy" class="header__heading-logo" alt="{{ image.alt | default: shop.name | escape }}">
                                                {%- elsif block.settings.logo_text != blank -%}
                                                    <span class="h2 {{ block.settings.logo_text_transform }}">{{ block.settings.logo_text }}</span>
                                                {%- else -%}
                                                    <span class="h2 {{ block.settings.logo_text_transform }}">{{ shop.name }}</span>
                                                {%- endif -%}
                                            </a>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                        {%-  when 'function_group' -%}
                            <div class="header-top--right header__icons clearfix">
                                {% if block.settings.show_search %}
                                    <details-modal class="header__iconItem header__search" style="--search-color: {{ block.settings.search_color }}; --bg-search-color: {{ block.settings.bg_search_color }}; --search-icon-color: {{ block.settings.search_icon_color }}; --search-border-color: {{ block.settings.search_border_color }}">
                                        {%- if settings.show_quick_search -%}
                                            <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}" data-product-to-show="{{ settings.quick_search_to_show }}">
                                        {%- endif -%}
                                        <details class="search_details">
                                            <summary class="header__search-full" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
                                                <button type="button" class="header-search-close" aria-label="{{ 'general.common.close' | t }}">{% render 'icon-close' %}</button>
                                                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                                                    <div class="field">
                                                        <input class="search__input field__input form-input-placeholder" id="Search-In-Modal-Basic" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.search' | t }}" autocomplete="off" {%- if settings.show_quick_search -%}role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list" aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false"{%- endif -%}>
                                                        <input type="hidden" name="options[prefix]" value="last">
                                                        <input type="hidden" name="type" value="product">
                                                        <label class="field__label hiddenLabels" for="Search-In-Modal-Basic">{{ 'general.search.search' | t }}</label>
                                                        <button class="button search__button field__button focus-inset" aria-label="{{ 'general.search.search' | t }}">{% render 'icon-search-03' %}</button>
                                                    </div>
                                                    {%- if settings.show_quick_search -%}
                                                        {%- if settings.show_search_trending or settings.show_search_product -%}
                                                            {%- render 'quick-searching-trending-products' -%}
                                                        {%- endif -%}
                                                        {%- render 'predictive-search-results' -%}
                                                    {%- endif -%}
                                                </form>
                                            </summary>
                                            <div class="search-modal modal__content{% if settings.show_quick_search %} quickSearch{% endif %}" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
                                                {%- if settings.show_quick_search -%}
                                                    {% render 'halo-quick-search' %}
                                                {%- endif -%}
                                            </div>
                                        </details>
                                        {%- if settings.show_quick_search -%}
                                            </predictive-search>
                                        {%- endif -%}
                                    </details-modal>
                                {% endif %}
                                {% if block.settings.show_cart or block.settings.show_wishlist or block.settings.show_customer %}
                                    <div class="header__iconItem header__group">
                                        {%- if shop.customer_accounts_enabled and block.settings.show_customer -%}
                                            {% if routes.account_login_url contains '/account/login' %}
                                                {% assign is_contained = true %}
                                            {% else %}
                                                {% assign is_contained = false %}
                                            {% endif %}
                                            <div class="header__icon customer-links" style="--text-color: {{ block.settings.customer_color }}">
                                                <a href="{{ routes.account_login_url }}" class="header__icon header__icon--account link link--text"{% if is_contained %} data-open-auth-sidebar{% endif %}>
                                                    {% render 'icon-account-2' %}
                                                    <span class="visually-hidden">
                                                        {%- liquid
                                                        if customer
                                                        echo 'customer.account_fallback' | t
                                                        else
                                                        echo 'customer.log_in' | t
                                                        endif
                                                        -%}
                                                    </span>
                                                </a>                                    
                                            </div>
                                        {%- endif -%}
                                        {%- if settings.show_wishlist and block.settings.show_wishlist -%}
                                            <a href="{{ pages['wish-list'].url }}" class="header__icon header__icon--wishlist link link--text focus-inset" style="--text-color: {{ block.settings.wishlist_color }}">{% render 'icon-heart-2' %}</a>
                                        {%- endif -%}
                                        {%- if block.settings.show_cart -%}
                                            <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset" id="cart-icon-bubble"{% if settings.show_quick_cart %} data-cart-sidebar{% endif %} style="--text-color: {{ block.settings.cart_color }}; --cart-bg-item: {{ block.settings.cart_bg_item }}; --cart-color-item: {{ block.settings.cart_color_item }}">
                                                {% render 'icon-cart-03' %}
                                                <div class="cart-count-bubble">
                                                    {%- if cart.item_count < 100 -%}
                                                        <span class="text" aria-hidden="true" data-cart-count>{{ cart.item_count }}</span>
                                                    {%- endif -%}
                                                    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                                                </div>
                                            </a>
                                        {%- endif -%}
                                    </div>
                                {% endif %}
                            </div>
                    {%- endcase -%}
                </div>
            {%- endfor -%}
        </div>
    </div>
</header>
<script defer> 
    var appendPrependMenuMobile = function() {
        if (window.innerWidth < 1025) {
            $('.header-top--wrapper .header-top--left .customer-service-text').appendTo('#navigation-mobile .site-nav-mobile.nav-account .wrapper-links');
        } else {
            $('#navigation-mobile .site-nav-mobile.nav-account .customer-service-text').appendTo('.header-top--wrapper .header-top--left .header-language_currency');
        };
    };

    $(document).ready(function() {
        appendPrependMenuMobile();
    });

    $(window).on('resize', function () {
        appendPrependMenuMobile();
    })

    $(window).on('load', function () {
        $('.header-05').addClass('loading-css');
    });
    
    if ($('body').hasClass('template-index')) $('.header-basic--transparent').closest('.section-header-basic').addClass('shb-transparent');
</script>

{% schema %}
{
    "name": "Header - Basic",
    "limit": 1,
    "class": "section-header-basic",
    "settings": [
        {
            "type": "paragraph",
            "content": "*You should only activate \/ use \"Header\" you want, don't use the redundant headers which may not optimize for performance."
        },
        {
            "type": "select",
            "id": "container",
            "label": "t:sections.layout.container.option",
            "default": "1770",
            "options": [
                {
                    "value": "1170",
                    "label": "t:sections.layout.container.option4"
                },
                {
                    "value": "1370",
                    "label": "t:sections.layout.container.option8"
                },
                {
                    "value": "1470",
                    "label": "t:sections.layout.container.option5"
                },
                {
                    "value": "1570",
                    "label": "t:sections.layout.container.option6"
                },
                {
                    "value": "1770",
                    "label": "t:sections.layout.container.option3"
                },
                {
                    "value": "full",
                    "label": "t:sections.layout.container.option2"
                }
            ]
        },
        {
            "type": "range",
            "id": "padding_full_width",
            "label": "t:sections.layout.container.padding_full_width",
            "min": 0,
            "max": 75,
            "step": 5,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 0,
            "info": "t:sections.layout.container.info_full_width"
        },
        {
            "type": "color",
            "id": "background",
            "label": "t:settings_schema.colors.settings.colors_name.background_color",
            "default": "#ffffff"
        },
        {
            "type": "color_background",
            "id": "gradient",
            "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
        },
        {
            "type": "header",
            "content": "t:sections.header.settings.parallax.parallax"
        },
        {
            "type": "checkbox",
            "id": "enable_transparent",
            "label": "t:sections.header.settings.parallax.ennable_parallax",
            "default": false
        },
        {
            "type": "header",
            "content": "t:sections.main-product.settings.general.spacing"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.main-list-collections.settings.spacing.mg_top",
            "default": 20
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.main-list-collections.settings.spacing.mg_bottom",
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "conversion_group",
            "name": "Conversion Group",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.header.settings.header_top.language_currency"
                },
                {
                    "type": "checkbox",
                    "id": "show_language_currency",
                    "label": "t:sections.header.settings.navigation.label_3",
                    "default": true
                },
                {
                    "type": "color",
                    "id": "language_currency_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#3c3c3c"
                },
                {
                    "type": "header",
                    "content": "t:sections.header.settings.header_top.customer_service_text"
                },
                {
                    "type": "richtext",
                    "id": "customer_service_text",
                    "label": "t:sections.header.settings.header_top.customer_service_text",
                    "default": "<p>Customer Service 091 234-ELLA</p>"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#3c3c3c"
                }
            ]
        },
        {
            "type": "logo",
            "name": "t:sections.header.settings.header__4.content",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.header.settings.logo.label__1"
                },
                {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "t:settings_schema.quick_view.settings.header__2.content"
                },
                {
                    "type": "range",
                    "id": "logo_width",
                    "min": 50,
                    "max": 250,
                    "step": 10,
                    "unit": "t:sections.header.settings.logo_width.unit",
                    "label": "t:sections.header.settings.logo_width.label__1",
                    "default": 80
                },
                {
                    "type": "header",
                    "content": "t:sections.header.settings.menu_tab.label__3"
                },
                {
                    "type": "textarea",
                    "id": "logo_text",
                    "label": "t:sections.header.settings.logo.label__7"
                },
                {
                    "type": "range",
                    "id": "logo_font_size",
                    "label": "t:settings_schema.typography.settings.font_size.label",
                    "min": 15,
                    "max": 60,
                    "step": 1,
                    "unit": "t:sections.header.settings.logo.unit",
                    "default": 30
                },
                {
                    "type": "select",
                    "id": "logo_font_weight",
                    "label": "t:settings_schema.typography.settings.font_weight.label",
                    "default": "900",
                    "options": [
                    {
                        "value": "400",
                        "label": "t:settings_schema.typography.settings.font_weight.options__1"
                    },
                    {
                        "value": "500",
                        "label": "t:settings_schema.typography.settings.font_weight.options__2"
                    },
                    {
                        "value": "600",
                        "label": "t:settings_schema.typography.settings.font_weight.options__3"
                    },
                    {
                        "value": "700",
                        "label": "t:settings_schema.typography.settings.font_weight.options__4"
                    },
                    {
                        "value": "800",
                        "label": "t:settings_schema.typography.settings.font_weight.options__5"
                    },
                    {
                        "value": "900",
                        "label": "t:settings_schema.typography.settings.font_weight.options__6"
                    }]
                },
                {
                    "type": "select",
                    "id": "logo_text_transform",
                    "label": "t:settings_schema.typography.settings.text_transform.label",
                    "default": "uppercase",
                    "options": [
                    {
                        "value": "capitalize",
                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
                    },
                    {
                        "value": "uppercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
                    },
                    {
                        "value": "lowercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
                    }]
                },
                {
                    "type": "color",
                    "id": "logo_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#232323"
                }
            ]
        },
        {
            "type": "function_group",
            "name": "Function Group",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.header.settings.header_top.search"
                },
                {
                    "type": "checkbox",
                    "id": "show_search",
                    "label": "t:sections.header.settings.header_icons.label__3",
                    "default": true
                },
                {
                    "type": "color",
                    "id": "search_color",
                    "label": "t:sections.header.settings.header_top.search_color_text",
                    "default": "#3c3c3c"
                },
                {
                    "type": "color",
                    "id": "bg_search_color",
                    "label": "t:settings_schema.colors.settings.colors_name.background_color"
                },
                {
                    "type": "color",
                    "id": "search_border_color",
                    "label": "t:sections.header.settings.header_top.search_border_color",
                    "default": "#7b7b7b"
                },
                {
                    "type": "color",
                    "id": "search_icon_color",
                    "label": "t:sections.header.settings.header_top.search_color_icon",
                    "default": "#232323"
                },
                {
                    "type": "header",
                    "content": "t:settings_schema.general.settings.header__7.content"
                },
                {
                    "type": "checkbox",
                    "id": "show_customer",
                    "label": "t:sections.header.settings.header_icons.label__2",
                    "default": true
                },
                {
                    "type": "color",
                    "id": "customer_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#232323"
                },
                {
                    "type": "header",
                    "content": "t:settings_schema.general.settings.header__3.content"
                },
                {
                    "type": "checkbox",
                    "id": "show_wishlist",
                    "label": "t:sections.header.settings.header_icons.label__1",
                    "default": true
                },
                {
                    "type": "color",
                    "id": "wishlist_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#232323"
                },
                {
                    "type": "header",
                    "content": "t:sections.header.settings.header_top.cart"
                },
                {
                    "type": "checkbox",
                    "id": "show_cart",
                    "label": "t:sections.header.settings.header_icons.label__4",
                    "default": true
                },
                {
                    "type": "color",
                    "id": "cart_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#232323"
                },
                {
                    "type": "color",
                    "id": "cart_color_item",
                    "label": "t:sections.header.settings.header_top.color_items_cart",
                    "default": "#ffffff"
                },
                {
                    "type": "color",
                    "id": "cart_bg_item",
                    "label": "t:sections.header.settings.header_top.background_color_items_cart",
                    "default": "#232323"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Header - Basic",
            "blocks": [
                {
                    "type": "conversion_group"
                },
                {
                    "type": "logo"
                },
                {
                    "type": "function_group"
                }
            ]
        }
    ],
    "enabled_on": {
        "groups": ["header"]
    }
}
{% endschema %}