<link rel="stylesheet" href="{{ 'component-large-lookbook-banner.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-large-lookbook-banner.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'lookbook-script.js' | asset_url | script_tag }}
{%- liquid 
    assign mg_top_desktop = section.settings.mg_top_desktop | append: 'px'
    assign mg_top_tablet = section.settings.mg_top_tablet | append: 'px'
    assign mg_top_mobile = section.settings.mg_top_mobile | append: 'px'

    assign mg_bottom_desktop = section.settings.mg_bottom_desktop | append: 'px'
    assign mg_bottom_tablet = section.settings.mg_bottom_tablet | append: 'px'
    assign mg_bottom_mobile = section.settings.mg_bottom_mobile | append: 'px'

    assign container = section.settings.container   
    assign padding_full_width = section.settings.padding_full_width | append: 'px'

    assign section_bg = section.settings.section_bg
    assign section_gradient = section.settings.section_gradient

    assign title = section.settings.title
    assign color_title = section.settings.color_title
    assign mg_bottom_title = section.settings.mg_bottom_title | append: 'px'
    assign mg_top_title = section.settings.mg_top_title | append: 'px'
    assign fontsize_title = section.settings.fontsize_title | append: 'px'
    assign fontsize_title_mb = section.settings.fontsize_title_mb | append: 'px'

    assign des = section.settings.des
    assign color_des = section.settings.color_des
    assign margin_bottom_des = section.settings.margin_bottom_des | append: 'px'
    assign fontsize_des = section.settings.fontsize_des | append: 'px'
    assign fontsize_des_mb = section.settings.fontsize_des_mb | append: 'px'
    
    assign view_more = section.settings.view_more
    assign view_all_link = section.settings.view_all_link
    assign view_all_color = section.settings.view_all_color
    assign view_all_under_color = view_all_color | color_modify: 'alpha', 0.7
    assign view_all_enable_border = section.settings.view_all_enable_border
    assign view_all_font_size = section.settings.view_all_font_size | append: 'px'
    assign view_all_font_weight = section.settings.view_all_font_weight
    assign view_all_pos = section.settings.view_all_pos
    assign view_more_mg_top = section.settings.view_more_mg_top 

    assign text_align = section.settings.title_align
    assign content_width = section.settings.content_width | append: 'px'

    assign dot_desktop_size = section.settings.dot_desktop_size | append: 'px'
    assign dot_mobile_size = section.settings.dot_mobile_size | append: 'px'
    assign dot_shadow_color = section.settings.dot_shadow_color | color_modify: 'alpha', 0.5
    assign dot_outer_color = section.settings.dot_outer_color
    assign show_dot_number = section.settings.show_dot_number
    assign show_dot_number_mobile = section.settings.show_dot_number_mobile
    assign dot_inner_color = section.settings.dot_inner_color
    assign number_desktop_size = section.settings.number_desktop_size | append: 'px'
    assign number_mobile_size = section.settings.number_mobile_size | append: 'px'
    assign enable_lookbook_width = section.settings.enable_lookbook_width
    assign lookbook_width = section.settings.lookbook_width | append: 'px'
    assign lookbook_truncate = section.settings.lookbook_truncate
    assign lookbook_style = section.settings.lookbook_style

    assign show_text = section.settings.show_text
    assign hide_text = section.settings.hide_text
    assign show_btn_bg_color = section.settings.show_btn_bg_color
    assign show_btn_gradient = section.settings.show_btn_gradient
    assign show_btn_text_color = section.settings.show_btn_text_color
    assign show_btn_width = section.settings.show_btn_width | append: 'px'
    assign show_btn_height = section.settings.show_btn_height | append: 'px'

    assign has_fancy_box = false 
    for block in section.blocks 
        if block.settings.lookbook_image_action == 'popup_image'
            assign has_fancy_box = true 
        endif 
    endfor 
-%}

<style type="text/css">
    .section-block-{{section.id}} {padding-top: {{ mg_top_desktop }};padding-bottom: {{ mg_bottom_desktop }}}

    {%- if container == 'fullwidth' -%}
        .section-block-{{section.id}} .container-full {padding-left: {{ padding_full_width }};padding-right: 0}
        .layout_rtl .section-block-{{section.id}} .container-full {padding-right: {{ padding_full_width }};padding-left: 0}
    {%- endif -%}

    {%- if section_gradient != blank and section_gradient != 'rgba(0,0,0,0)' -%}
        .section-block-{{section.id}} {background: {{ section_gradient }}}
    {%- elsif section_bg != blank and section_bg != 'rgba(0,0,0,0)' -%}
        .section-block-{{section.id}} {background: {{ section_bg }}}
    {%- endif -%}

    @media screen and (max-width: 1024px) {.section-block-{{section.id}} {padding-top: {{ mg_top_tablet }};padding-bottom: {{ mg_bottom_tablet }}}}
    @media screen and (max-width: 767px) {.section-block-{{section.id}} {padding-top: {{ mg_top_mobile }};padding-bottom: {{ mg_bottom_mobile }}}}
</style>

{%- if has_fancy_box -%}
    <link rel="stylesheet" href="{{ 'component-fancybox.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>{{ 'component-fancybox.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

<div class="large-lookbook-banner section-block-{{section.id}}{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}" id="large-lookbook-banner-{{section.id}}" data-loader-script="{{ 'halo.large-lookbook-slider.js' | asset_url }}">
    <div class="{% if container == 'fullwidth' %}container-full{% elsif container == '1170' %}container-1170{% elsif container == '1770' %}container-1770{% else %}container{% endif %}">
        <div class="large-lookbook-banner-wrapper" style="--header-max-width: {% if title != blank or des != blank %}{{ content_width }}{% else %}0px{% endif %};">
            {%- if title != blank or des != blank -%}
                <div class="halo-block-header lookbook__left text-{{ text_align }}">
                    {%- if title != blank -%}
                        <h3 class="title large-lookbook-banner-title{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}" style="{% if settings.banner_animation == 'effect_fade_up' %}--animation-order: 0;{% endif %}--title-color: {{ color_title }};--title-mg-bottom: {{ mg_bottom_title }};--title-mg-top: {{ mg_top_title }};--title-fs: {{ fontsize_title }};--title-fs-mb: {{ fontsize_title_mb }};--max-width: {{ content_width }}"><span class="text">{{ title }}</span></h3>
                    {%- endif %}
                    {%- if des != blank -%}
                        <div class="des large-lookbook-banner-des{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}" style="{% if settings.banner_animation == 'effect_fade_up' %}--animation-order: 1;{% endif %}--des-color: {{ color_des }};--des-mg-bottom: {{ margin_bottom_des }};--des-fs: {{ fontsize_des }};--des-fw-mb: {{ fontsize_des_mb }};--max-width: {{ content_width }}">{{ des }}</div>        
                    {%- endif -%}
                    {%- if view_more != blank -%}
                        <div class="view-all-container text-{{ view_all_pos }}{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}"{% if settings.banner_animation == 'effect_fade_up' %} style="--animation-order: 2;"{% endif %}>
                            <a class="view-more"{% if view_all_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ view_all_link }}"{% endif %} title="{{ view_more }}" style="--view-color: {% if view_all_color != blank %}{{ view_all_color }}{% endif %};--view-fs: {{ view_all_font_size }};--view-fw: {{ view_all_font_weight }};--view-mg-top: {{  view_more_mg_top | divided_by: 2 | append: 'px'  }};{% if view_all_enable_border %}text-decoration: underline;text-underline-offset: 2px;text-decoration-color: {% if view_all_under_color != blank and view_all_under_color != 'rgba(0,0,0,0)' %}{{ view_all_under_color }}{% else %}currentColor{% endif %}{% endif %}">{{ view_more }}</a>
                        </div>
                    {%- endif -%}
                </div>
            {%- endif -%}
            {%- if section.blocks.size > 0 -%}
                <div class="halo-block-content lookbook__right{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
                    <div class="lookbooks" data-show-lookbook-container style="--scrollbar-spacing: {{ view_more_mg_top | divided_by: 2 | append: 'px' }};" data-large-lookbook-slider>
                        {%- for block in section.blocks -%}
                            {%- if block.type == 'lookbook_image' -%}
                                {%- liquid 
                                    assign lookbook_image = block.settings.lookbook_image
                                    assign lookbook_image_action = block.settings.lookbook_image_action
                                    assign lookbook_image_link = block.settings.lookbook_image_link

                                    assign product_1 = block.settings.product_1
                                    assign left_1 = block.settings.horizontal_pos_1 | append: '%' 
                                    assign top_1 = block.settings.vertical_pos_1 | append: '%' 
                                    assign lookbook_pos_1 = block.settings.lookbook_pos_1

                                    assign product_2 = block.settings.product_2
                                    assign left_2 = block.settings.horizontal_pos_2 | append: '%' 
                                    assign top_2 = block.settings.vertical_pos_2 | append: '%' 
                                    assign lookbook_pos_2 = block.settings.lookbook_pos_2
        
                                    assign product_3 = block.settings.product_3
                                    assign left_3 = block.settings.horizontal_pos_3 | append: '%' 
                                    assign top_3 = block.settings.vertical_pos_3 | append: '%' 
                                    assign lookbook_pos_3 = block.settings.lookbook_pos_3
        
                                    assign product_4 = block.settings.product_4
                                    assign left_4 = block.settings.horizontal_pos_4 | append: '%' 
                                    assign top_4 = block.settings.vertical_pos_4 | append: '%' 
                                    assign lookbook_pos_4 = block.settings.lookbook_pos_4
                                -%}
                                <large-lookbook-with-show-all class="lookbook-image-item {% if enable_lookbook_width %}width-restricted{% endif %}" data-lookbook-item-container style="--dot-desktop-size: {{ dot_desktop_size }};--dot-mobile-size: {{ dot_mobile_size }};--dot-shadow-color: {{ dot_shadow_color }};--dot-outer-color: {{ dot_outer_color }};--dot-inner-color: {{ dot_inner_color }};--dot-number-desktop-size: {{ number_desktop_size }};--dot-number-mobile-size: {{ number_mobile_size }};--max-width: {{ lookbook_width }};--des-max-width: {% if des_width > 0 %}{{ des_width | append: 'px' }}{% else %}unset{% endif %};--truncate-line: {{ lookbook_truncate }}">
                                    <div class="lookbook-image" data-lookbook-image>
                                        <div class="img-box{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }} o-hidden{% endif %}">
                                            {%- if lookbook_image != blank -%}
                                                <a class="adaptive_height fancybox image"{% if lookbook_image_action == 'link' %}{% if lookbook_image_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ lookbook_image_link }}"{% endif %}{% else %} class="fancybox" rel="lookbook" href="{{ lookbook_image | img_url: 'master' }}" data-fancybox="images"{% endif %} style="padding-top: {% unless lookbook_image.presentation.focal_point == '50.0% 50.0%' %}{{ 1 | divided_by: lookbook_image.aspect_ratio | times: 120 | append: '%' }}{% else %}{{ 1 | divided_by: lookbook_image.aspect_ratio | times: 100 | append: '%' }}{% endunless %}" aria-label="{{lookbook_image.alt | default: shop.name | escape }}">
                                                        {%- assign width = lookbook_image.width -%}
                                                        {%- assign height = lookbook_image.width | divided_by: lookbook_image.aspect_ratio | round -%}
                                                        <img {% render 'lazyload',preview_img: lookbook_image, width: width, height: height %}{% unless lookbook_image.presentation.focal_point == '50.0% 50.0%' %} style="object-position: {{ lookbook_image.presentation.focal_point }}"{% endunless %} />
                                                        {%- if settings.enable_lazyload -%}<span class="data-lazy-loading"></span>{%- endif -%}
                                                </a>
                                            {%- else -%}
                                                <div class="not_img" style="--height_not_img: 770px; --width_not_img: {% if forloop.index == 2 %}770px;{% else %}1270px;{% endif %}">1270 x 770px</div>
                                            {%- endif -%}
                                        </div>
                                            
                                        {%- if product_1 != blank or product_2 != blank or product_3 != blank or product_4 != blank -%}
                                            <lookbook-wrapper>
                                            {%- if product_1 != blank -%}
                                                {% render 'lookbook-modal-wrapper',
                                                    lookbook_style: lookbook_style,
                                                    top: top_1,
                                                    left: left_1,
                                                    show_dot_number: show_dot_number,
                                                    show_dot_number_mobile: show_dot_number_mobile,
                                                    lookbook_pos: lookbook_pos_1,
                                                    product: product_1,
                                                    show_plus_icon: show_plus_icon,
                                                    num: 1,
                                                %}
                                            {%- endif -%}
                                            {%- if product_2 != blank -%}
                                                {% render 'lookbook-modal-wrapper',
                                                    lookbook_style: lookbook_style,
                                                    top: top_2,
                                                    left: left_2,
                                                    show_dot_number: show_dot_number,
                                                    show_dot_number_mobile: show_dot_number_mobile,
                                                    lookbook_pos: lookbook_pos_2,
                                                    product: product_2,
                                                    show_plus_icon: show_plus_icon,
                                                    num: 2,
                                                %}
                                            {%- endif -%}
                                            {%- if product_3 != blank -%}
                                                {% render 'lookbook-modal-wrapper',
                                                    lookbook_style: lookbook_style,
                                                    top: top_3,
                                                    left: left_3,
                                                    show_dot_number: show_dot_number,
                                                    show_dot_number_mobile: show_dot_number_mobile,
                                                    lookbook_pos: lookbook_pos_3,
                                                    product: product_3,
                                                    show_plus_icon: show_plus_icon,
                                                    num: 3
                                                %}  
                                            {%- endif -%}
                                            {%- if product_4 != blank -%}
                                                {% render 'lookbook-modal-wrapper',
                                                    lookbook_style: lookbook_style,
                                                    top: top_4,
                                                    left: left_4,
                                                    show_dot_number: show_dot_number,
                                                    show_dot_number_mobile: show_dot_number_mobile,
                                                    lookbook_pos: lookbook_pos_4,
                                                    product: product_4,
                                                    show_plus_icon: show_plus_icon,
                                                    num: 4
                                                %}  
                                            {%- endif -%}
                                            </lookbook-wrapper>
                                        {%- endif -%}
                                        {%- if lookbook_style == '2' -%}
                                            {%- if product_1 != blank or product_2 != blank or product_3 != blank or product_4 != blank -%}
                                                <div class="show-all-lookbook" data-show-all-lookbook style="--view-all-bg: {% if show_btn_gradient != blank and show_btn_gradient != 'rgba(0,0,0,0)' %}{{ show_btn_gradient }}{% elsif show_btn_bg_color != blank and show_btn_bg_color != 'rgba(0,0,0,0)' %}{{ show_btn_bg_color }}{% endif %};--show-text-color: {% if show_btn_text_color != blank and show_btn_text_color != 'rgba(0,0,0,0)' %}{{ show_btn_text_color }}{% endif %};--button-width: {{ show_btn_width }};--button-height: {{ show_btn_height }}">
                                                    <div class="btns-wrapper">
                                                        <button class="show-btn-wrapper btn-wrapper">{% render 'icon-plus' %}
                                                            {%- if show_text != blank -%}
                                                                <span class="text">{{ show_text }}</span>
                                                            {%- endif -%}
                                                        </button>
                                                        <button class="hide-btn-wrapper btn-wrapper">{% render 'icon-close', class: 'icon icon-close' %}
                                                            {%- if hide_text != blank -%}
                                                                <span class="text">{{ hide_text }}</span>
                                                            {%- endif -%}
                                                        </button>
                                                    </div>
                                                </div>
                                            {%- endif -%}
                                        {%- endif -%}
                                    </div>
                                </large-lookbook-with-show-all>
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                </div>
            {%- endif -%}
        </div> 
    </div>
</div>
<script>
    class LargeLookbookWithShowAll extends HTMLElement {
        constructor() {
            super();
        }
        connectedCallback() {
            this.showAllBtn = this.querySelector('[data-show-all-lookbook]');
            this.lookbookImage = this.querySelector('[data-lookbook-image]');
            if (this.showAllBtn) {
                this.showAllBtn.addEventListener('click', this.toggleShowAll.bind(this));
            }
        }
        toggleShowAll() {
            this.lookbookImage.classList.toggle('show-all');
        }
    }
    customElements.define('large-lookbook-with-show-all', LargeLookbookWithShowAll);
</script>

{%- if has_fancy_box -%}
    <script src="{{ 'fancybox.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.large_lookbook_banner.name",
    "settings": [   
        {
            "type": "header",
            "content": "t:settings_schema.general.name"
        },
        {
            "type": "select",
            "id": "container",
            "label": "t:sections.layout.container.option",
            "default": "container",
            "options": [
                {
                    "value": "container",
                    "label": "t:sections.layout.container.option1"
                },
                {
                    "value": "1170",
                    "label": "t:sections.layout.container.option4"
                },
                {
                    "value": "1770",
                    "label": "t:sections.layout.container.option3"
                },
                {
                    "value": "fullwidth",
                    "label": "t:sections.layout.container.option2"
                }
            ]
        },
        {
            "type": "range",
            "id": "padding_full_width",
            "label": "t:sections.layout.container.padding_full_width",
            "min": 0,
            "max": 60,
            "step": 5,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 0,
            "info": "t:sections.layout.container.info_full_width"
        },
        {
            "type" : "color",
            "id" : "section_bg",
            "label": "t:settings_schema.colors.settings.colors_name.background_color",
            "default" : "#fafafa"
        },
        {
            "type" : "color_background",
            "id" : "section_gradient",
            "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
        },
        {
            "type": "header",
            "content": "t:sections.layout.margin_top"
        },
        {
            "type": "range",
            "id": "mg_top_desktop",
            "label": "t:sections.layout.mg_desktop.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_top_tablet",
            "label": "t:sections.layout.mg_tablet.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_top_mobile",
            "label": "t:sections.layout.mg_mobile.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "header",
            "content": "t:sections.layout.margin_bottom"
        },
        {
            "type": "range",
            "id": "mg_bottom_desktop",
            "label": "t:sections.layout.mg_desktop.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_bottom_tablet",
            "label": "t:sections.layout.mg_tablet.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_bottom_mobile",
            "label": "t:sections.layout.mg_mobile.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "text",
            "id": "title",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__1"
        },
        {
            "type" : "color",
            "id" : "color_title",
            "label": "t:sections.layout.color.color_title",
            "default" : "#232323"
        },
        {
            "type": "range",
            "id": "mg_bottom_title",
            "label": "t:sections.layout.mg_bottom_title.label",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 18
        },
        {
            "type": "range",
            "id": "mg_top_title",
            "label": "t:settings_schema.typography.settings.typography.title_margin_top",
            "min": 0,
            "max": 70,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 62
        },
        {
            "type": "range",
            "id": "fontsize_title",
            "label": "t:sections.layout.fontsize.fontsize_title.label",
            "min": 10,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 16
        },
        {
            "type": "range",
            "id": "fontsize_title_mb",
            "label": "t:sections.layout.fontsize.fontsize_title.label_mb",
            "min": 10,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 16
        },
        {
            "type": "textarea",
            "id": "des",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__2"
        },
        {
            "type" : "color",
            "id" : "color_des",
            "label": "t:sections.layout.color.color_des",
            "default" : "#3c3c3c"
        },
        {
            "type": "range",
            "id": "margin_bottom_des",
            "label": "t:settings_schema.typography.settings.typography.des_margin_bottom",
            "min": 0,
            "max": 60,
            "step": 1,
            "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
            "default": 35
        },
        {
            "type": "range",
            "id": "fontsize_des",
            "label": "t:sections.layout.fontsize.fontsize_des.label",
            "min": 10,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 16
        },
        {
            "type": "range",
            "id": "fontsize_des_mb",
            "label": "t:settings_schema.typography.settings.typography.des_font_size_mb",
            "min": 10,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 12
        },
        {
            "type": "select",
            "id": "title_align",
            "label": "t:sections.product_block.settings.general.label__7",
            "options": [
            {
                "value": "left",
                "label": "t:sections.product_block.settings.general.options__7"
            },
            {
                "value": "center",
                "label": "t:sections.product_block.settings.general.options__8"
            },
            {
                "value": "right",
                "label": "t:sections.product_block.settings.general.options__9"
            }],
            "default": "center"
        },
        {
            "type": "range",
            "id": "content_width",
            "label": "t:sections.rich-text.blocks.text.settings.text.content_width",
            "min": 200,
            "max": 700,
            "step": 5,
            "default": 700,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit"
        },
        {
            "type": "text",
            "id": "view_more",
            "label": "t:settings_schema.typography.settings.typography.view_all"
        },
        {
            "type": "url",
            "id": "view_all_link",
            "label": "t:settings_schema.typography.settings.typography.view_all_link"
        },
        {
            "type": "color",
            "id": "view_all_color",
            "label": "t:settings_schema.typography.settings.typography.view_all_color"
        },
        {
            "type": "checkbox",
            "id": "view_all_enable_border",
            "label": "t:settings_schema.typography.settings.typography.view_all_enable_border"
        },
        {
            "type": "range",
            "id": "view_all_font_size",
            "label": "t:settings_schema.typography.settings.typography.view_all_font_size",
            "min": 10,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 12
        },
        {
            "type": "select",
            "id": "view_all_font_weight",
            "label": "t:settings_schema.typography.settings.typography.view_all_font_weight",
            "default": "700",
            "options": [
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }
            ]
        },
        {
            "type": "select",
            "id": "view_all_pos",
            "label": "t:sections.featured_blog.settings.blog.view_all_pos",
            "default": "right",
            "options": [
                {
                    "value": "left",
                    "label": "t:settings_schema.typography.settings.type_button_font.left"
                }, 
                {
                    "value": "center",
                    "label": "t:settings_schema.typography.settings.type_button_font.center"
                },
                {
                    "value": "right",
                    "label": "t:settings_schema.typography.settings.type_button_font.right"
                }
            ]
        },
        {
            "type": "range",
            "id": "view_more_mg_top",
            "label": "t:sections.collection_lookbook.settings.label_15",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 35,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.settings.general.animation"
        },
        {
          "type": "select",
          "id": "image_behavior",
          "options": [
            {
              "value": "none",
              "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
              "value": "ambient",
              "label": "t:sections.main-product.settings.general.image_behavior.option__1"
            },
            {
              "value": "zoom-in",
              "label": "t:sections.main-product.settings.general.image_behavior.option__3"
            }
          ],
          "default": "none",
          "label": "t:sections.main-product.settings.general.image_behavior.label"
        },
        {
            "type": "header",
            "content": "t:sections.collection_lookbook.settings.content_1"
        },
        {
            "type": "select",
            "id": "lookbook_style",
            "label": "t:sections.main_lookbook_page.settings.style",
            "default": "1",
            "options": [
                {
                    "value": "1",
                    "label": "t:settings_schema.typography.settings.typography.style_1"
                },
                {
                    "value": "2",
                    "label": "t:settings_schema.typography.settings.typography.style_2"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "enable_lookbook_width",
            "label": "t:sections.collection_lookbook.settings.label_13",
            "default": false
        },
        {
            "type": "range",
            "id": "lookbook_width",
            "label": "t:sections.collection_lookbook.settings.label_14",
            "min": 200,
            "max": 500,
            "step": 5,
            "default": 250,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit"
        },
        {
            "type": "range",
            "id": "dot_desktop_size",
            "label": "t:sections.collection_lookbook.settings.label_1",
            "min": 10,
            "max": 50,
            "step": 1,
            "default": 24,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit"
        },
        {
            "type": "range",
            "id": "dot_mobile_size",
            "label": "t:sections.collection_lookbook.settings.label_2",
            "min": 10,
            "max": 50,
            "step": 1,
            "default": 16,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit"
        },
        {
            "type": "color",
            "id": "dot_shadow_color",
            "label": "t:sections.collection_lookbook.settings.label_3",
            "default": "rgba(255, 255, 255, 0.5)"
        },
        {
            "type": "color",
            "id": "dot_outer_color",
            "label": "t:sections.collection_lookbook.settings.label_4",
            "default": "#fff"
        },
        {
            "type": "checkbox",
            "id": "show_dot_number",
            "label": "t:sections.collection_lookbook.settings.label_5",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_dot_number_mobile",
            "label": "t:sections.collection_lookbook.settings.label_6",
            "default": false
        },
        {
            "type": "color",
            "id": "dot_inner_color",
            "label": "t:sections.collection_lookbook.settings.label_7",
            "default": "#000"
        },
        {
            "type": "range",
            "id": "number_desktop_size",
            "label": "t:sections.collection_lookbook.settings.label_8",
            "min": 10,
            "max": 50,
            "step": 1,
            "default": 24,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit"
        },
        {
            "type": "range",
            "id": "number_mobile_size",
            "label": "t:sections.collection_lookbook.settings.label_9",
            "min": 10,
            "max": 50,
            "step": 1,
            "default": 16,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit"
        },
        {
            "type": "select",
            "id": "lookbook_truncate",
            "label": "t:sections.collection_lookbook.settings.label_16",
            "default": "1",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:sections.collection_lookbook.settings.content_2"
        },
        {
            "type": "text",
            "id": "show_text",
            "label": "t:sections.collection_lookbook.settings.label_10",
            "default": "Show Products"
        },
        {
            "type": "text",
            "id": "hide_text",
            "label": "t:sections.collection_lookbook.settings.label_11",
            "default": "Hide Products"
        },
        {
            "type": "color",
            "id": "show_btn_bg_color",
            "label": "t:settings_schema.colors.settings.colors_name.background_color"
        },
        {
            "type": "color_background",
            "id": "show_btn_gradient",
            "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient",
            "default": "rgba(0,0,0,0.5)"
        },
        {
            "type": "color",
            "id": "show_btn_text_color",
            "label": "t:settings_schema.colors.settings.colors_name.color",
            "default": "#fff"
        },
        {
            "type": "range",
            "id": "show_btn_height", 
            "label": "t:sections.collection_lookbook.settings.label_12",
            "min": 30,
            "max": 100,
            "step": 1,
            "default": 30,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit"
        },
        {
            "type": "range",
            "id": "show_btn_width", 
            "label": "t:settings_schema.typography.settings.typography.button_width",
            "min": 30,
            "max": 500,
            "step": 5,
            "default": 135,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit"
        }
    ],
    "blocks": [
        {
           "name": "t:sections.collection_lookbook.blocks.lookbook.name",
           "type": "lookbook_image",
           "limit": 3,
           "settings": [
                {
                    "type": "image_picker",
                    "id": "lookbook_image",
                    "label": "Lookbook Image"
                },
                {
                    "type" : "select",
                    "id" : "lookbook_image_action",
                    "label" : "t:sections.instagram.settings.type_image.type_instagram_by_gallery.option",
                    "options": [
                        {
                            "value": "link",
                            "label": "t:sections.instagram.settings.type_image.type_instagram_by_gallery.option1"
                        },
                        {
                            "value": "popup_image",
                            "label": "t:sections.instagram.settings.type_image.type_instagram_by_gallery.option2"
                        }
                    ],
                    "default": "popup_image"
                },
                {
                    "type": "url",
                    "id": "lookbook_image_link",
                    "label": "t:sections.announcement-bar.blocks.announcement.settings.text.link"
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.collection_lookbook.blocks.lookbook.settings.content_1"
                },
                {
                    "type": "product",
                    "id": "product_1",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_1"
                },
                {
                    "type": "range",
                    "id": "horizontal_pos_1",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_2",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.typography.unit_2",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "vertical_pos_1",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_3",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.typography.unit_2",
                    "default": 0
                },
                {
                    "type": "select",
                    "id": "lookbook_pos_1",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_4",
                    "default": "right",
                    "options": [
                        {
                            "value": "right",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_1"
                        },
                        {
                            "value": "left",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_2"
                        },
                        {
                            "value": "top",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_3"
                        },
                        {
                            "value": "bottom",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_4"
                        }
                    ]
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.collection_lookbook.blocks.lookbook.settings.content_2"
                },
                {
                    "type": "product",
                    "id": "product_2",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_1"
                },
                {
                    "type": "range",
                    "id": "horizontal_pos_2",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_2",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.typography.unit_2",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "vertical_pos_2",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_3",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.typography.unit_2",
                    "default": 0
                },
                {
                    "type": "select",
                    "id": "lookbook_pos_2",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_4",
                    "default": "right",
                    "options": [
                        {
                            "value": "right",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_1"
                        },
                        {
                            "value": "left",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_2"
                        },
                        {
                            "value": "top",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_3"
                        },
                        {
                            "value": "bottom",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_4"
                        }
                    ]
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.collection_lookbook.blocks.lookbook.settings.content_3"
                },
                {
                    "type": "product",
                    "id": "product_3",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_1"
                },
                {
                    "type": "range",
                    "id": "horizontal_pos_3",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_2",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.typography.unit_2",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "vertical_pos_3",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_3",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.typography.unit_2",
                    "default": 0
                },
                {
                    "type": "select",
                    "id": "lookbook_pos_3",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_4",
                    "default": "right",
                    "options": [
                        {
                            "value": "right",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_1"
                        },
                        {
                            "value": "left",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_2"
                        },
                        {
                            "value": "top",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_3"
                        },
                        {
                            "value": "bottom",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_4"
                        }
                    ]
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.collection_lookbook.blocks.lookbook.settings.content_4"
                },
                {
                    "type": "product",
                    "id": "product_4",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_1"
                },
                {
                    "type": "range",
                    "id": "horizontal_pos_4",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_2",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.typography.unit_2",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "vertical_pos_4",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_3",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.typography.unit_2",
                    "default": 0
                },
                {
                    "type": "select",
                    "id": "lookbook_pos_4",
                    "label": "t:sections.collection_lookbook.blocks.lookbook.settings.label_4",
                    "default": "right",
                    "options": [
                        {
                            "value": "right",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_1"
                        },
                        {
                            "value": "left",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_2"
                        },
                        {
                            "value": "top",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_3"
                        },
                        {
                            "value": "bottom",
                            "label": "t:sections.collection_lookbook.blocks.lookbook.settings.option_4"
                        }
                    ]
                }
           ] 
        }
    ],
    "presets": [
        {
          "name": "t:sections.large_lookbook_banner.name"
        }
    ],
    "disabled_on": {
        "groups": ["header"]
    }
  }
{% endschema %}