{{ 'component-section-password-2.css' | asset_url | stylesheet_tag }}

{%- assign password_form_btn = section.settings.password_form_btn -%}
{%- assign newsletter_btn = section.settings.newsletter_btn -%}

<div class="password-page password-template password-template-2">
    <div class="password-header">
        {% if section.settings.show_top_message %}
            <div class="top-message">
                {{section.settings.top_message_text}}
            </div>
        {% endif %}
        <div class="header-bottom">
            <h1 class="header-logo{% if section.settings.brand_type == 'image' and section.settings.brand_logo != blank %} image-logo {% else %} text-logo{%- endif -%}">
                {%- if section.settings.brand_type == 'image' and section.settings.brand_logo != blank -%}
                    <a class="logo-img" href="/" title="Logo">
                        {% assign image = section.settings.brand_logo %}
                        {%- assign image_size = section.settings.brand_logo_width | append: 'x' -%}
                        <img srcset="{{ image | img_url: image_size }}"
                                src="{{ image | img_url: image_size }}"
                                loading="lazy"
                                alt="{{ image.alt | default: shop.name | escape }}">
                    </a>
                {%- elsif section.settings.brand_text != '' -%}
                    <a class="logo-title" href="/">
                        {{ section.settings.brand_text }}
                    </a>
                {%- else -%}
                    <a class="logo-title" href="/">
                        {{ shop.name }}
                    </a>
                {%- endif -%}
            </h1>
        </div>
    </div>

	<div class="password-banner">
    	{%- if section.settings.banner != blank -%}
            {% assign banner = section.settings.banner %}
    		<img src="{{ banner | img_url:'master'}}" alt="{{ banner.alt | default: shop.name }}" title="{{ banner.alt | default: shop.name }}">
        {%- else -%}
            <div class="image">
                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
    	{%- endif -%}
        
        <div class="banner-content">
            <div class="banner-text">
                {% if section.settings.banner_subtitle %}
                    <h3 class="banner-sub-heading">{{section.settings.banner_subtitle}}</h3>
                {% endif %}
                {% if section.settings.banner_title %}
                    <h2 class="banner-heading">{{section.settings.banner_title}}</h2>
                {% endif %}
            </div>

            {% if section.settings.countdown %}
                {% if section.settings.countdown_text != blank %}
                    <p class="countdownText">{{ section.settings.countdown_text }}</p>
                {% endif %}
                <div class="password-countdown" data-password-countdown="{{ section.settings.countdown }}"></div>
            {% endif %}
            <div class="password-form">
                {%- form 'storefront_password', autocomplete:"off" -%}
                    {%- if form.errors -%}
                        {%- assign message = form.errors | default_errors | strip_html -%}
                        <div class="form-message">
                            <div class="alertBox alertBox--error">
                                <p class="alertBox-message">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    {%- endif -%}
                    <div class="form-field">
                        <label class="form-label" for='password'>{{ 'general.password_page.label_2' | t }}</label>
                        <input class="form-input form-input-placeholder" type='password' name='password' id='password' autocomplete="new-password" placeholder="{{ 'general.password_page.input_2' | t }}" />
                    </div>
                    <div class="form-actions actions">
                        <input class="button button-{{ password_form_btn }}" name="commit" type="submit" value="{{ 'general.password_page.submit' | t }}" />
                    </div>
                {%- endform -%}
            </div>
        </div>
    </div>
    <div class="password-content">
        <div class="password-contentItem password-contentCenter">
            <div class="password-body">
                <div class="password-info">
                    {%- if shop.password_message and shop.password_message != '' -%}
                        {{ shop.password_message }}
                    {%- else -%}
                    	{%- if section.settings.newsletter_title != blank -%}
                        	<h3 class="newsletter-title">{{ section.settings.newsletter_title }}</h3>
                        {%- endif -%}
                        {%- if section.settings.newsletter_desc != blank -%}
                        	<span class="newsletter-desc">{{ section.settings.newsletter_desc }}</span>
                        {%- endif -%}
                    {% endif %}
                </div>
                {% if section.settings.show_newsletter %}
                    <div class="newsletter">
                        {%- form 'customer', id: 'ContactPopup', class: 'newsletter-form' -%}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <div class="newsletter-form__field-wrapper">
                                <div class="form-field field"> 
                                    <input
                                        id="NewsletterForm--Popup"
                                        type="email"
                                        name="contact[email]"
                                        class="field__input form-input-placeholder"
                                        value="{{ form.email }}"
                                        aria-required="true"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        autocomplete="email"
                                        {% if form.errors %}
                                            autofocus
                                            aria-invalid="true"
                                            aria-describedby="ContactFooter-error"
                                        {% elsif form.posted_successfully? %}
                                            aria-describedby="ContactFooter-success"
                                        {% endif %}
                                        placeholder="{{ 'newsletter.placeholder_2' | t }}"
                                    >
                                    <label class="field__label hiddenLabels" for="NewsletterForm--Popup">
                                        {{ 'newsletter.label' | t }}
                                    </label>
                                </div>
                                {%- if form.errors -%}
                                    <div class="newsletter-form__message newsletter-form__message--error form__message" id="ContactFooter-error">
                                        {% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                                    </div>
                                {%- endif -%}
                                {% if form.posted_successfully? %}
                                    <script>
                                        window.onload = (event) => {
                                            var newsletterMessagePopup = (function(){
                                                var popup = document.getElementById('halo-newsletter-message-popup'),
                                                message = popup.getElementsByClassName('newsletter-message')[0],
                                                messageText = "{{ 'newsletter.success' | t }}";
                                                var close = $('.halo-newsletter-message-popup .close');
                                                var overlay = $('.background-overlay');

                                                document.body.classList.add('newsletter-message-show');

                                                message.innerHTML = '<div class="alertBox alertBox--success">\
                                                    <p class="alertBox-message">'+ messageText +'</p>\
                                                </div>';

                                                setCookie('newsletter-popup', 'closed', {{ settings.newsletter_popup_expire }});

                                                close.off('click').on('click', function() {
                                                    $('.halo-newsletter-message-popup').fadeOut();
                                                    overlay.hide();
                                                });
                                                overlay.off('click').on('click', function() {
                                                    $('.halo-newsletter-message-popup').fadeOut();
                                                    overlay.hide();
                                                });
                                            })();
                                        };

                                        var newURL = location.href.split("?")[0];
                                            window.history.pushState('object', document.title, newURL);

                                        function setCookie(cname, cvalue, exdays) {
                                            const d = new Date();
                                            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                                            const expires = 'expires=' + d.toUTCString();
                                            document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
                                        }
                                    </script>
                                {% else %}
                                    <script>
                                        window.onload = (event) => {
                                            if (window.location.href.indexOf('newsletter&form_type=customer') > -1) {
                                                var newsletterMessagePopup = (function(){
                                                    var popup = document.getElementById('halo-newsletter-message-popup'),
                                                    message = popup.getElementsByClassName('newsletter-message')[0],
                                                    messageText = "{{ 'newsletter.error' | t }}"
                                                    var close = $('.halo-newsletter-message-popup .close');
                                                    var overlay = $('.background-overlay');

                                                    document.body.classList.add('newsletter-message-show');

                                                    message.innerHTML = '<div class="alertBox alertBox--error">\
                                                            <p class="alertBox-message">'+ messageText +'</p>\
                                                        </div>';

                                                    setCookie('newsletter-popup', 'closed', {{ settings.newsletter_popup_expire }});

                                                    close.off('click').on('click', function() {
                                                        $('.halo-newsletter-message-popup').fadeOut();
                                                        overlay.hide();
                                                    });
                                                    overlay.off('click').on('click', function() {
                                                        $('.halo-newsletter-message-popup').fadeOut();
                                                        overlay.hide();
                                                    });

                                                })();

                                                var newURL = location.href.split("?")[0];
                                                window.history.pushState('object', document.title, newURL);

                                                function setCookie(cname, cvalue, exdays) {
                                                    const d = new Date();
                                                    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                                                    const expires = 'expires=' + d.toUTCString();
                                                    document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
                                                }
                                            }
                                        };
                                    </script>
                                {% endif %}
                                <button type="submit" class="button button-{{ newsletter_btn }} newsletter-form__button" name="commit" id="newsletter-form-subscribe" {% if settings.show_global_checkbox %} disabled="disabled"{% endif %}>
                                    {{ 'newsletter.button_label' | t }}
                                </button>
                            </div>
                        {%- endform -%}
                    </div>
                    {%- if settings.show_global_checkbox -%}
                        <div class="checkbox-group">
                          <input class="global-checkbox--input" type="checkbox" name="conditions" id="password_conditions" data-target="#newsletter-form-subscribe">
                          <label class="global-checkbox--label form-label--checkbox" for="password_conditions">
                              {{settings.global_checkbox_text}}
                          </label>
                          {%- if settings.global_checkbox_link_text != blank -%}
                          <a href="javascript:void(0)" data-term-condition>{{ settings.global_checkbox_link_text | escape }}</a>
                          {%- endif -%}
                        </div>
                    {%- endif -%}
                {% endif %}

                {%- if section.settings.show_social_media -%}
                    {% render 'halo-social-media-icons' %}
                {%- endif -%}
            </div>
        </div>
        {%- if section.settings.show_copyright -%}
            <div class="password-footer">
                <div class="copyright">
                    <small class="copyright__content">{{ section.settings.copyright_content }}</small>
                </div>
            </div>
        {%- endif -%}
    </div>
</div>

{%- if settings.show_global_checkbox -%}
    {% render 'halo-term-condition-popup' %}
{%- endif -%}
<div class="background-overlay"></div>

<newsletter-message-popup class="halo-popup halo-newsletter-message-popup customPopup-small" data-newsletter-message-popup id="halo-newsletter-message-popup">
    <div class="halo-popup-wrapper">
        <button type="button" class="halo-popup-close customPopup-close clearfix" data-close-newsletter-message-popup aria-label="{{ 'general.common.close' | t }}">
            {% render 'icon-close' %}
        </button>
        <div class="halo-popup-content custom-scrollbar">
            <div class="newsletter-message"></div>
        </div>
    </div>
</newsletter-message-popup>

<script type="text/javascript">
    $(document).on('change', '.global-checkbox--input', (event) => {
        var targetId = event.target.getAttribute('data-target');

        if(event.target.checked){
            $(targetId).attr('disabled', false);
        } else{
            $(targetId).attr('disabled', true);
        }
    });
    $(document).on('click', '[data-term-condition]', (event) => {
        event.preventDefault();
        event.stopPropagation();
        $('body').addClass('term-condition-show');
    });
    $(document).on('click', '[data-close-term-condition-popup]', (event) => {
        event.preventDefault();
        event.stopPropagation();
        $('body').removeClass('term-condition-show');
    });
    $(document).on('click', (event) => {
        if (($(event.target).closest('[data-term-condition-popup]').length === 0)){
            $('body').removeClass('term-condition-show');
        }
    });
</script>

{%- if section.settings.countdown != blank -%}
	<script type="text/javascript">
        var countdownFunc = function(){
          var countdownElm = $('[data-password-countdown]');
          var countdownValue = countdownElm.data('password-countdown');
          var countDownDate = new Date(countdownValue).getTime();

          countdownElm.countdown(countDownDate, function (event) {
            var sec = event.offset.seconds;
            var min = event.offset.minutes;
            var hour = event.offset.hours;
            var day = event.offset.totalDays;
            var hundreds =  Math.floor(day/100) > 0 ?  '<span class="hundreds">'+ Math.floor(day/100) +'</span>' : '';
              $(this).html(event.strftime('' +
                  '<div class="clock-item"><div class="num">'+ hundreds +'<span class="tens">'+ Math.floor(day/10)  % 10  +'</span><span class="ones">'+ day % 10 +'</span></div><p>DAY</p></div>' +
                  '<div class="clock-item"><div class="num"><span class="tens">'+ Math.floor(hour/10) +'</span><span class="ones">'+ hour % 10 +'</span></div><p>HRS</p></div>' +
                  '<div class="clock-item"><div class="num"><span class="tens">'+ Math.floor(min/10) +'</span><span class="ones">'+ min % 10 +'</span></div><p>MIN</p></div>' +
                  '<div class="clock-item"><div class="num"><span class="tens">'+ Math.floor(sec/10) +'</span><span class="ones">'+ sec % 10 +'</span></div><p>SEC</p></div>'));
          });
        }
        $(document).ready(function(){
          countdownFunc();
        })
        $(document)
        .on('shopify:section:load', countdownFunc)
        .on('shopify:section:unload', countdownFunc)        
	</script>
{%- endif -%}

<style type="text/css">
    .password-header .top-message {
         background: {{ section.settings.top_message_bg }};
         color: {{ section.settings.top_message_color }};
    }
    .password-header .top-message a {
        color: {{ section.settings.top_message_link_color }};
    }
    .password-header .header-bottom {
        background: {{ section.settings.background_color }}
    }

    .header-logo .logo-title{
        color: {{ section.settings.logo_color }}!important;
    }

    .password-header .header-logo.text-logo {
        font-size: {{ section.settings.brand_logo_font_size  | append: 'px' }};
        line-height: {{ section.settings.brand_logo_font_size  | append: 'px' }};
    }

    .password-banner .banner-sub-heading {
        color: {{ section.settings.banner_subtitle_color }};
        font-size: {{ section.settings.banner_subtitle_font_size_mb | append: 'px' }};
        line-height: {{ section.settings.banner_subtitle_font_size_mb | plus: 8 | append: 'px' }};
    }
    .password-banner .banner-heading {
        color: {{ section.settings.banner_title_color }};
        font-size: {{ section.settings.banner_title_font_size_mb | append: 'px' }};
        line-height: {{ section.settings.banner_title_font_size_mb | plus: 8 | append: 'px' }};
    }

    .password-form .form-label{
        color: {{ section.settings.password_form_color }};
    }

    .password-countdown .num span {
        background: {{ section.settings.countdown_number_bg }};
        color: {{ section.settings.countdown_number_color}};
    }
    .password-countdown .clock-item p,
    .countdownText {
        color: {{ section.settings.countdown_text_color}};
    }

    .password-content .newsletter-title {
         font-size: {{ section.settings.newsletter_title_font_size_mb | append: 'px' }};
         line-height: {{ section.settings.newsletter_title_font_size_mb | plus: 8 | append: 'px' }};
         color: {{ section.settings.newsletter_title_color }}
    }
    
    .password-content .newsletter-desc {
         font-size: {{ section.settings.newsletter_desc_font_size | append: 'px' }};
         color: {{ section.settings.newsletter_desc_color }}
    }

    .password-footer {
        background: {{ section.settings.copyright_bg_color }}
    }

    .password-footer .copyright__content {
         color: {{ section.settings.copyright_color }}
    }

    .password-footer .copyright__content a {
        color: {{ section.settings.copyright_color }}
    }

    .password-body .list-social a svg {
        fill: {{ section.settings.social_media_color }};
        stroke: transparent;
    }

    .password-content .password-contentItem.password-contentCenter {
        background: {{ section.settings.newsletter_bg }}
    }

    .password-form .form-input {
        color: {{ section.settings.password_form_input_color }};
        border-color: {{ section.settings.password_form_input_border_color }};
        background-color: {{ section.settings.password_form_input_bg_color }}
    }

    .password-form .form-input::-moz-placeholder {
        color: {{ section.settings.password_form_input_color }};
        text-transform: capitalize;
        opacity: 0.7
    }

    .password-form .form-input:-ms-input-placeholder {
        color: {{ section.settings.password_form_input_color }} !important;
        text-transform: capitalize;
        opacity: 0.7
    }

    .password-form .form-input::-webkit-input-placeholder {
        color: {{ section.settings.password_form_input_color }};
        text-transform: capitalize;
        opacity: 0.7
    }

    .password-body .newsletter .field__input {
        color: {{ section.settings.newsletter_input_text_color }};
        border-color: {{ section.settings.newsletter_input_border_color }};
        background-color: {{ section.settings.newsletter_input_bg_color }}
    }

    .password-body .newsletter .field__input::-moz-placeholder {
        color: {{ section.settings.newsletter_input_text_color }};
        text-transform: capitalize;
    }

    .password-body .newsletter .field__input:-ms-input-placeholder {
        color: {{ section.settings.newsletter_input_text_color }} !important;
        text-transform: capitalize;
    }

    .password-body .newsletter .field__input::-webkit-input-placeholder {
        color: {{ section.settings.newsletter_input_text_color }};
        text-transform: capitalize;
    }

    .password-body .checkbox-group .form-label--checkbox {
        color: {{ section.settings.newsletter_checkbox_text_color }}
    }

    .password-body .checkbox-group a {
        color: {{ section.settings.newsletter_checkbox_link_color}}
    }
    
    @media (min-width: 768px) {
        .password-banner .banner-sub-heading {
            font-size: {{ section.settings.banner_subtitle_font_size | append: 'px' }};
            line-height: {{ section.settings.banner_subtitle_font_size | plus: 8 | append: 'px' }};
        }

        .password-banner .banner-heading {
            font-size: {{ section.settings.banner_title_font_size | append: 'px' }};
            line-height: {{ section.settings.banner_title_font_size | plus: 8 | append: 'px' }};
        }

        .password-content .newsletter-title {
             font-size: {{ section.settings.newsletter_title_font_size | append: 'px' }};
             line-height: {{ section.settings.newsletter_title_font_size | plus: 8 | append: 'px' }};
        }

        .password-form .form-label{
            color: {{ section.settings.password_form_color }}
        }
        
        .password-countdown .num span {
            background: {{ section.settings.countdown_number_bg }};
            color: {{ section.settings.countdown_number_color}};
        }
    }
</style>

{% schema %}
    {
        "name": "t:sections.main-password.name",
        "settings": [
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__8.content"
        },
        {
            "type": "checkbox",
            "id": "show_top_message",
            "default": true,
            "label": "t:sections.main-password.settings.announcement-bar.label__1"
        },
        {
            "type": "textarea",
            "id": "top_message_text",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__16"
        },
        {
            "type":"color",
            "id":"top_message_bg",
            "label":"t:settings_schema.colors.settings.colors_name.background_color",
            "default": "#F5F5F5"
        },
        {
            "type":"color",
            "id":"top_message_color",
            "label":"t:settings_schema.typography.settings.typography.text_color",
            "default": "#232323"
        },
        {
            "type":"color",
            "id":"top_message_link_color",
            "label":"t:settings_schema.colors.settings.colors_link.label__1",
            "default": "#7a7a7a"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__10.content"
        },
        {
            "type":"color",
            "id":"background_color",
            "label":"t:settings_schema.colors.settings.colors_name.background_color"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__2.content"
        },
        {
            "type": "select",
            "id": "brand_type",
            "label": "t:sections.main-password.settings.logo.label__1",
            "default": "text",
            "options": [
            {
                "value": "text",
                "label": "t:sections.image-banner.blocks.image.settings.content.label__16"
            },
            {
                "value": "image",
                "label": "t:sections.main-password.settings.logo.options__2"
            }]
        },
        {
            "type": "text",
            "id": "brand_text",
            "label": "t:sections.main-password.settings.logo.label__2"
        },
        {
            "type":"color",
            "id":"logo_color",
            "label":"t:sections.main-password.settings.logo.label__3"
        },
        {
            "type": "image_picker",
            "id": "brand_logo",
            "label": "t:sections.main-password.settings.logo.label__4"
        },
        {
            "type": "range",
            "id": "brand_logo_width",
            "min": 30,
            "max": 200,
            "step": 5,
            "unit": "t:sections.header.settings.logo_width.unit",
            "label": "t:sections.header.settings.logo_width.label__1",
            "default": 65
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__3.content"
        },
        {
            "type": "image_picker",
            "id": "banner",
            "label": "t:sections.main-password.settings.banner.label__1"
        },
        {
            "type": "text",
            "id": "banner_subtitle",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__20",
            "default": "Special Offer"
        },
        {
            "type": "color",
            "id": "banner_subtitle_color",
            "label": "t:settings_schema.typography.settings.typography.sub_title_color",
            "default": "#FFFFFF"
        },
        {
            "type": "range",
            "id": "banner_subtitle_font_size",
            "label": "t:settings_schema.typography.settings.typography.sub_title_font_size",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 16
        },
         {
            "type": "range",
            "id": "banner_subtitle_font_size_mb",
            "label": "t:settings_schema.typography.settings.typography.sub_title_font_size_mb",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 16
        },
        {
            "type": "textarea",
            "id": "banner_title",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__1",
            "default": "Sale 70% Off*"
        },
        {
            "type": "color",
            "id": "banner_title_color",
            "label": "t:settings_schema.typography.settings.typography.title_color",
            "default": "#FFFFFF"
        },
        {
            "type": "range",
            "id": "banner_title_font_size",
            "label": "t:settings_schema.typography.settings.typography.title_font_size",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 40
        },
        {
            "type": "range",
            "id": "banner_title_font_size_mb",
            "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 24
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__9.content"
        },
        {
            "type": "color",
            "id": "password_form_color",
            "label": "t:settings_schema.typography.settings.typography.text_color",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "password_form_input_bg_color",
            "label": "t:sections.main-password.settings.general.label__23",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "password_form_input_border_color",
            "label": "t:sections.main-password.settings.general.label__24",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "password_form_input_color",
            "label": "t:sections.main-password.settings.general.label__25",
            "default": "#FFFFFF"
        },
        {
            "type": "select",
            "id": "password_form_btn",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__3",
            "default": "1",
            "options": [
            {
                "value": "1",
                "label": "t:sections.general.settings.button.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.general.settings.button.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.general.settings.button.options__3"
            }]
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__7.content"
        },
        {
            "type": "text",
            "id": "countdown",
            "label": "t:sections.main-password.settings.countdown.label__1",
            "default": "Dec 31, 2021 18:00:00",
            "info": "Example: Dec 31, 2021 18:00:00"
        },
        {
            "type": "text",
            "id": "countdown_text",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__16",
            "default": "Limited-time offer. End ins:"
        },
        {
            "type": "color",
            "id": "countdown_number_bg",
            "label": "t:sections.main-password.settings.countdown.label__3",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "countdown_number_color",
            "label": "t:sections.main-password.settings.countdown.label__4",
            "default": "#232323"
        },
        {
            "type": "color",
            "id": "countdown_text_color",
            "label": "t:sections.main-password.settings.countdown.label__5",
            "default": "#FFFFFF"
        },
        {
            "type": "header",
            "content":"t:sections.main-password.settings.header__5.content"
        },
        {
            "type": "paragraph",
            "content": "t:sections.main-password.settings.newsletter.paragraph.content"
        },
        {
            "type": "checkbox",
            "id": "show_newsletter",
            "default": true,
            "label": "t:sections.main-password.settings.newsletter.label__1"
        },
        {
            "type": "color",
            "id": "newsletter_bg",
            "label": "t:settings_schema.colors.settings.colors_name.background_color",
            "default": "#F5F5F5"
        },
        {
            "type": "text",
            "id": "newsletter_title",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__1",
            "default": "First Order? Save 10% Off"
        },
        {
            "type": "range",
            "id": "newsletter_title_font_size",
            "label": "t:settings_schema.typography.settings.typography.title_font_size",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 24
        },
        {
            "type": "range",
            "id": "newsletter_title_font_size_mb",
            "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 24
        },
        {
            "type": "color",
            "id": "newsletter_title_color",
            "label": "t:settings_schema.typography.settings.typography.title_color",
            "default": "#232323"
        },
        {
            "type": "textarea",
            "id": "newsletter_desc",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__2",
            "default": "Join our emails today and save 10% on your first order."
        },
        {
            "type": "range",
            "id": "newsletter_desc_font_size",
            "label": "t:settings_schema.typography.settings.typography.des_font_size",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 12
        },
        {
            "type": "color",
            "id": "newsletter_desc_color",
            "label": "t:settings_schema.typography.settings.typography.des_color",
            "default": "#3c3c3c"
        },
        {
            "type": "color",
            "id": "newsletter_input_bg_color",
            "label": "t:sections.main-password.settings.general.label__23",
            "default": "transparent"
        },
        {
            "type": "color",
            "id": "newsletter_input_border_color",
            "label": "t:sections.main-password.settings.general.label__24",
            "default": "#3c3c3c"
        },
        {
            "type": "color",
            "id": "newsletter_input_text_color",
            "label": "t:sections.main-password.settings.general.label__25",
            "default": "#232323"
        },
        {
            "type": "color",
            "id": "newsletter_checkbox_text_color",
            "label": "t:sections.main-password.settings.general.label__21",
            "default": "#848484"
        },
        {
            "type": "color",
            "id": "newsletter_checkbox_link_color",
            "label": "t:sections.main-password.settings.general.label__22",
            "default": "#3c3c3c"
        },
        {
            "type": "select",
            "id": "newsletter_btn",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__3",
            "default": "1",
            "options": [
            {
                "value": "1",
                "label": "t:sections.general.settings.button.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.general.settings.button.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.general.settings.button.options__3"
            }]
        },
        {
            "type": "header",
            "content":"t:sections.main-password.settings.header__6.content"
        },
        {
            "type": "checkbox",
            "id": "show_social_media",
            "default": true,
            "label": "t:sections.main-password.settings.social-media.label__1"
        },
        {
            "type": "color",
            "id": "social_media_color",
            "label": "t:sections.main-password.settings.social-media.label__2",
            "default": "#FFFFFF"
        },
        {
            "type": "header",
            "content": "t:sections.footer.settings.copy_right.content"
        },
        {
            "id": "show_copyright",
            "type": "checkbox",
            "label": "t:sections.footer.settings.copy_right.show_copyright",
            "default": true
        },
        {
            "id": "copyright_content",
            "type": "textarea",
            "label": "t:sections.footer.settings.copy_right.copyright_content"
        },
        {
            "type": "color",
            "id": "copyright_bg_color",
            "label": "t:settings_schema.colors.settings.colors_name.background_color",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "copyright_color",
            "label": "t:settings_schema.typography.settings.typography.text_color",
            "default": "#7e7e7e"
        }]
    }
{% endschema %}