{{ 'component-section-password.css' | asset_url | stylesheet_tag }}

{%- assign btn = section.settings.btn -%}

<div class="password-page password-template">
    <div class="password-content">
        <div class="password-contentItem password-contentLeft{% if section.settings.show_copyright == false %} no-copyright{% endif%}">
            <div class="password-header">
                <h1 class="header-logo{% if section.settings.brand_type == 'image' and section.settings.brand_logo != blank %} image-logo {% else %} text-logo{%- endif -%}">
                    {%- if section.settings.brand_type == 'image' and section.settings.brand_logo != blank -%}
                        <a class="logo-img" href="/" title="Logo">
                            {% assign image = section.settings.brand_logo %}
                            {%- assign image_size = section.settings.brand_logo_width | append: 'x' -%}

                            <img srcset="{{ image | img_url: image_size }}"
                                src="{{ image | img_url: image_size }}"
                                loading="lazy"
                                alt="{{ image.alt | default: shop.name | escape }}">
                        </a>
                    {%- elsif section.settings.brand_text != '' -%}
                        <a class="logo-title" href="/">
                            {{ section.settings.brand_text }}
                        </a>
                    {%- else -%}
                        <a class="logo-title" href="/">
                            {{ shop.name }}
                        </a>
                    {%- endif -%}
                </h1>
            </div>
            <div class="password-body">
                <div class="password-info">
                    {%- if shop.password_message and shop.password_message != '' -%}
                        {{ shop.password_message }}
                    {%- else -%}
                        <h3 class="password-title">{{ section.settings.title }}</h3>
                        <span class="password-subtitle">{{ section.settings.subtitle }}</span>
                    {%- endif -%}
                </div>
                {% if section.settings.show_newsletter %}
                    <div class="newsletter">
                        {%- form 'customer', id: 'ContactPopup', class: 'newsletter-form' -%}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <div class="newsletter-form__field-wrapper">
                                <div class="form-field field"> 
                                    <input
                                        id="NewsletterForm--Popup"
                                        type="email"
                                        name="contact[email]"
                                        class="field__input form-input-placeholder"
                                        value="{{ form.email }}"
                                        aria-required="true"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        autocomplete="email"
                                        {% if form.errors %}
                                            autofocus
                                            aria-invalid="true"
                                            aria-describedby="ContactFooter-error"
                                        {% elsif form.posted_successfully? %}
                                            aria-describedby="ContactFooter-success"
                                        {% endif %}
                                        placeholder="{{ 'newsletter.placeholder' | t }}"
                                    >
                                    <label class="field__label hiddenLabels" for="NewsletterForm--Popup">
                                        {{ 'newsletter.label' | t }}
                                    </label>
                                </div>
                                {%- if form.errors -%}
                                    <div class="newsletter-form__message newsletter-form__message--error form__message" id="ContactFooter-error">
                                        {% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                                    </div>
                                {%- endif -%}
                                {% if form.posted_successfully? %}
                                    <script>
                                        window.onload = (event) => {
                                            var newsletterMessagePopup = (function(){
                                                var popup = document.getElementById('halo-newsletter-message-popup'),
                                                message = popup.getElementsByClassName('newsletter-message')[0],
                                                messageText = "{{ 'newsletter.success' | t }}";
                                                var close = $('.halo-newsletter-message-popup .close');
                                                var overlay = $('.background-overlay');

                                                document.body.classList.add('newsletter-message-show');

                                                message.innerHTML = '<div class="alertBox alertBox--success">\
                                                    <p class="alertBox-message">'+ messageText +'</p>\
                                                </div>';

                                                setCookie('newsletter-popup', 'closed', {{ settings.newsletter_popup_expire }});

                                                close.off('click').on('click', function() {
                                                    $('.halo-newsletter-message-popup').fadeOut();
                                                    overlay.hide();
                                                });
                                                overlay.off('click').on('click', function() {
                                                    $('.halo-newsletter-message-popup').fadeOut();
                                                    overlay.hide();
                                                });
                                            })();
                                        };

                                        var newURL = location.href.split("?")[0];
                                            window.history.pushState('object', document.title, newURL);

                                        function setCookie(cname, cvalue, exdays) {
                                            const d = new Date();
                                            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                                            const expires = 'expires=' + d.toUTCString();
                                            document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
                                        }
                                    </script>
                                {% else %}
                                    <script>
                                        window.onload = (event) => {
                                            if (window.location.href.indexOf('newsletter&form_type=customer') > -1) {
                                                var newsletterMessagePopup = (function(){
                                                    var popup = document.getElementById('halo-newsletter-message-popup'),
                                                    message = popup.getElementsByClassName('newsletter-message')[0],
                                                    messageText = "{{ 'newsletter.error' | t }}"
                                                    var close = $('.halo-newsletter-message-popup .close');
                                                    var overlay = $('.background-overlay');

                                                    document.body.classList.add('newsletter-message-show');

                                                    message.innerHTML = '<div class="alertBox alertBox--error">\
                                                            <p class="alertBox-message">'+ messageText +'</p>\
                                                        </div>';

                                                    setCookie('newsletter-popup', 'closed', {{ settings.newsletter_popup_expire }});

                                                    close.off('click').on('click', function() {
                                                        $('.halo-newsletter-message-popup').fadeOut();
                                                        overlay.hide();
                                                    });
                                                    overlay.off('click').on('click', function() {
                                                        $('.halo-newsletter-message-popup').fadeOut();
                                                        overlay.hide();
                                                    });

                                                })();

                                                var newURL = location.href.split("?")[0];
                                                window.history.pushState('object', document.title, newURL);

                                                function setCookie(cname, cvalue, exdays) {
                                                    const d = new Date();
                                                    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                                                    const expires = 'expires=' + d.toUTCString();
                                                    document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
                                                }
                                            }
                                        };
                                    </script>
                                {% endif %}
                                <button type="submit" class="button button-{{ btn }} newsletter-form__button" name="commit" id="newsletter-form-subscribe" {% if settings.show_global_checkbox %} disabled="disabled"{% endif %}>
                                    {{ 'newsletter.button_label' | t }}
                                </button>
                            </div>
                        {%- endform -%}
                    </div>
                    {%- if settings.show_global_checkbox -%}
                        <div class="checkbox-group">
                          <input class="global-checkbox--input" type="checkbox" name="conditions" id="password_conditions" data-target="#newsletter-form-subscribe">
                          <label class="global-checkbox--label form-label--checkbox" for="password_conditions">
                              {{settings.global_checkbox_text}}
                          </label>
                          {%- if settings.global_checkbox_link_text != blank -%}
                          <a href="javascript:void(0)" data-term-condition>{{ settings.global_checkbox_link_text | escape }}</a>
                          {%- endif -%}
                        </div>
                    {%- endif -%}
                {% endif %}              

                {%- if section.settings.show_social_media -%}
                    {% render 'halo-social-media-icons' %}
                {%- endif -%}
            </div>
            {%- if section.settings.show_copyright -%}
                <div class="password-footer">
                    <div class="copyright">
                        <div class="copyright__content">{{ section.settings.copyright_content }}</div>
                    </div>
                </div>
            {%- endif -%}
        </div>
        <div class="password-contentItem password-contentRight">
            <div class="password-form">
                <span class="text access_login">
                  {{ 'general.password_page.label' | t }}
                  <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="lock-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-lock-alt fa-w-14 fa-2x"><path fill="currentColor" d="M224 412c-15.5 0-28-12.5-28-28v-64c0-15.5 12.5-28 28-28s28 12.5 28 28v64c0 15.5-12.5 28-28 28zm224-172v224c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V240c0-26.5 21.5-48 48-48h32v-48C80 64.5 144.8-.2 224.4 0 304 .2 368 65.8 368 145.4V192h32c26.5 0 48 21.5 48 48zm-320-48h192v-48c0-52.9-43.1-96-96-96s-96 43.1-96 96v48zm272 48H48v224h352V240z" class=""></path></svg>
                </span>
                {%- form 'storefront_password', autocomplete:"off" -%}
                    {%- if form.errors -%}
                        {%- assign message = form.errors | default_errors | strip_html -%}
                        <div class="form-message">
                            <div class="alertBox alertBox--error">
                                <p class="alertBox-message">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    {%- endif -%}
                    <div class="form-field">
                        <label class="form-label" for='password'>{{ 'general.password_page.label' | t }}</label>
                        <input class="form-input form-input-placeholder" type='password' name='password' id='password' autocomplete="new-password" placeholder="{{ 'general.password_page.input' | t }}" />
                    </div>
                    <div class="form-actions actions">
                        <input class="button button-1" name="commit" type="submit" value="{{ 'general.password_page.submit' | t }}" />
                    </div>
                {%- endform -%}
            </div>
            <div class="password-banner">
                {%- if section.settings.banner != blank -%}
                    {% assign image = section.settings.banner %}
                    <img srcset="{{ image | img_url: 'master' }}" 
                        src="{{ image | img_url: 'master' }}" 
                        alt="{{ image.alt | default: shop.name | escape }}" 
                        loading="lazy">

                {%- else -%}
                    <div class="image">
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>

{%- if settings.show_global_checkbox -%}
    {% render 'halo-term-condition-popup' %}
{%- endif -%}
<div class="background-overlay"></div>
<newsletter-message-popup class="halo-popup halo-newsletter-message-popup customPopup-small" data-newsletter-message-popup id="halo-newsletter-message-popup">
    <div class="halo-popup-wrapper">
        <button type="button" class="halo-popup-close customPopup-close clearfix" data-close-newsletter-message-popup aria-label="{{ 'general.common.close' | t }}">
            {% render 'icon-close' %}
        </button>
        <div class="halo-popup-content custom-scrollbar">
            <div class="newsletter-message"></div>
        </div>
    </div>
</newsletter-message-popup>

<script>
    $('.password-form .access_login').off('click').on('click',function(){
        $(this).next().toggle();
    })

    $(document).on('change', '.global-checkbox--input', (event) => {
        var targetId = event.target.getAttribute('data-target');

        if(event.target.checked){
            $(targetId).attr('disabled', false);
        } else{
            $(targetId).attr('disabled', true);
        }
    });
    $(document).on('click', '[data-term-condition]', (event) => {
        event.preventDefault();
        event.stopPropagation();
        $('body').addClass('term-condition-show');
    });
    $(document).on('click', '[data-close-term-condition-popup]', (event) => {
        event.preventDefault();
        event.stopPropagation();
        $('body').removeClass('term-condition-show');
    });
    $(document).on('click', (event) => {
        if (($(event.target).closest('[data-term-condition-popup]').length === 0)){
            $('body').removeClass('term-condition-show');
        }
    });
</script>

<style type="text/css">
    .password-template{
        background: {{ section.settings.background_color }}
    }

    .header-logo .logo-title {
        color: {{ section.settings.logo_color }};
    }
    
    .password-header .header-logo.text-logo {
        font-size: {{ section.settings.brand_logo_font_size  | append: 'px' }};
        line-height: {{ section.settings.brand_logo_font_size  | append: 'px' }};
    }

    .password-title {
        color: {{ section.settings.title_color }};
        font-size: {{ section.settings.title_font_size_mb  | append: 'px' }};
        line-height: {{ section.settings.title_font_size_mb  | plus: 8 | append: 'px' }};
    }

    .password-subtitle {
        color: {{ section.settings.subtitle_color }};
        font-size: {{ section.settings.subtitle_font_size  | append: 'px' }};
        line-height: {{ section.settings.subtitle_font_size  | plus: 8 | append: 'px' }};
    }

    .password-form .access_login {
        color: {{ section.settings.banner_color }}
    }

    .password-body .newsletter .field__input {
        color: {{ section.settings.input_color }};
        border: 1px solid {{ section.settings.input_color }};
    }

    .password-body .newsletter .field__input::-moz-placeholder {
        color: {{ section.settings.input_color }};
        text-transform: capitalize;
    }

    .password-body .newsletter .field__input:-ms-input-placeholder {
        color: {{ section.settings.input_color }};
        text-transform: capitalize;
    }

    .password-body .newsletter .field__input::-webkit-input-placeholder {
        color: {{ section.settings.input_color }};
        text-transform: capitalize;
    }

    .password-body .list-social a svg{
        fill: {{ section.settings.social_media_color }};
        stroke: transparent;
    }

    .password-footer .copyright__content,
    .password-footer .copyright__content a {
        color: {{ section.settings.copyright_color }}
    }

    .password-body .checkbox-group input[type=checkbox]+label {
        color: {{ section.settings.terms_text_color }}
    }

    .password-body .checkbox-group a {
        color: {{ section.settings.terms_link_color }}
    }

    .password-body .checkbox-group input[type=checkbox]+.form-label--checkbox:before{
        border-color: {{ section.settings.terms_text_color | color_modify: 'alpha', 0.5 }};
    }

    @media (min-width: 768px) {
        .password-title {
            font-size: {{ section.settings.title_font_size  | append: 'px' }};
            line-height: {{ section.settings.title_font_size  | plus: 8 | append: 'px' }};
        }
    }
</style>

{% schema %}
    {
        "name": "t:sections.main-password.name",
        "settings": [
        {
            "type": "header",
            "content": "t:settings_schema.general.name"
        },
        {
            "type":"color",
            "id":"background_color",
            "label":"t:settings_schema.colors.settings.colors_name.background_color"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__2.content"
        },
        {
            "type": "select",
            "id": "brand_type",
            "label": "t:sections.main-password.settings.logo.label__1",
            "default": "text",
            "options": [
            {
                "value": "text",
                "label": "t:sections.image-banner.blocks.image.settings.content.label__16"
            },
            {
                "value": "image",
                "label": "t:sections.main-password.settings.logo.options__2"
            }]
        },
        {
            "type": "text",
            "id": "brand_text",
            "label": "t:sections.main-password.settings.logo.label__2"
        },
        {
            "type": "range",
            "id": "brand_logo_font_size",
            "label": "t:sections.main-password.settings.logo.label__5",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 30
        },
        {
            "type":"color",
            "id":"logo_color",
            "label":"t:sections.main-password.settings.logo.label__3",
            "default": "#232323"
        },
        {
            "type": "image_picker",
            "id": "brand_logo",
            "label": "t:sections.main-password.settings.logo.label__4"
        },
        {
            "type": "range",
            "id": "brand_logo_width",
            "min": 30,
            "max": 200,
            "step": 5,
            "unit": "t:sections.header.settings.logo_width.unit",
            "label": "t:sections.header.settings.logo_width.label__1",
            "default": 65
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__3.content"
        },
        {
            "type": "image_picker",
            "id": "banner",
            "label": "t:sections.main-password.settings.banner.label__1"
        },
        {
            "type": "color",
            "id": "banner_color",
            "label": "t:settings_schema.typography.settings.typography.text_color",
            "default": "#FFFFFF"
        },
        {
            "type": "header",
            "content":"t:sections.main-password.settings.header__5.content"
        },
        {
            "type": "paragraph",
            "content": "t:sections.main-password.settings.newsletter.paragraph.content"
        },
        {
            "type": "checkbox",
            "id": "show_newsletter",
            "default": true,
            "label": "t:sections.main-password.settings.newsletter.label__1"
        },
        {
            "type": "text",
            "id": "title",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__1",
            "default": "Our store will be opening soon"
        },
        {
            "type": "range",
            "id": "title_font_size",
            "label": "t:settings_schema.typography.settings.typography.title_font_size",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 24
        },
        {
            "type": "range",
            "id": "title_font_size_mb",
            "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 24
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "t:settings_schema.typography.settings.typography.title_color",
            "default": "#FFFFFF"
        },
        {
            "type": "textarea",
            "id": "subtitle",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__2",
            "default": "Phasellus lorem de pulvinar maecenas."
        },
        {
            "type": "range",
            "id": "subtitle_font_size",
            "label": "t:settings_schema.typography.settings.typography.des_font_size",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "t:sections.header.settings.logo.unit",
            "default": 12
        },
        {
            "type": "color",
            "id": "subtitle_color",
            "label": "t:settings_schema.typography.settings.typography.des_color",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "input_color",
            "label": "t:sections.main-password.settings.general.label__25",
            "default": "#323232"
        },
        {
            "type": "color",
            "id": "terms_text_color",
            "label": "t:sections.main-password.settings.general.label__21",
            "default": "#848484"
        },
        {
            "type": "color",
            "id": "terms_link_color",
            "label": "t:sections.main-password.settings.general.label__22",
            "default": "#3c3c3c"
        },
        {
            "type": "select",
            "id": "btn",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__3",
            "default": "1",
            "options": [
            {
                "value": "1",
                "label": "t:sections.general.settings.button.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.general.settings.button.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.general.settings.button.options__3"
            }]
        },
        {
            "type": "header",
            "content":"t:sections.main-password.settings.header__6.content"
        },
        {
            "type": "checkbox",
            "id": "show_social_media",
            "default": true,
            "label": "t:sections.main-password.settings.social-media.label__1"
        },
        {
            "type": "color",
            "id": "social_media_color",
            "label": "t:sections.main-password.settings.social-media.label__2",
            "default": "#FFFFFF"
        },
        {
            "type": "header",
            "content": "t:sections.footer.settings.copy_right.content"
        },
        {
            "id": "show_copyright",
            "type": "checkbox",
            "label": "t:sections.footer.settings.copy_right.show_copyright",
            "default": true
        },
        {
            "id": "copyright_content",
            "type": "textarea",
            "label": "t:sections.footer.settings.copy_right.copyright_content"
        },
        {
            "type": "color",
            "id": "copyright_color",
            "label": "t:settings_schema.typography.settings.typography.text_color",
            "default": "#7e7e7e"
        }]
    }
{% endschema %}